<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <th:block th:include="fragments/head :: head" />
    </head>
    <body>

        <!-- Nav -->
        <th:block th:insert="fragments/navigation :: navigation-end-user"></th:block>

        <!-- Content -->
        <div class="px-content">

            <div class="page-header">
                <h1>

                </h1>
            </div>

            <div th:replace="fragments/alert :: success (${successMessage})"></div>

            <!-- Client details panel -->
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">Преглед периода важења докумената</span>
                </div>

                <div class="panel" >
                    <div class="panel-body">
                        <th:block th:if="${calendarprazan == null}">
 <th:block th:if="${calendar1.doneto != null}">
                            <p class="maketextsmaller"><b>Процена ризика </b> <br>
                                    <br> Датум доношења: <span th:text="${#temporals.format(calendar1.doneto, 'dd-MM-yyyy')}"></span> 
                                        <br> Важи до: <span th:text="${#temporals.format(calendar1.getVazido(), 'dd-MM-yyyy')}"></span> 
                                            <br>  Број решења: <span th:text="${calendar1.resenje}"></span>    
                                                <a sec:authorize="hasAnyAuthority('ADMIN','RIS','CLIENT')" th:href="@{/client/calendar/edit}" class=" btn-xs btn-info btn-outline"><i class="fa fa-pencil fa-lg"></i></a> <br></p>
 </th:block>
       <th:block th:if="${calendar1.doneto == null}">                      
                             <p class="maketextsmaller"><b>Процена ризика </b> <br>
                                      <br>  Није унето.   
                                      <a sec:authorize="hasAnyAuthority('ADMIN','RIS','CLIENT')" th:href="@{/client/calendar/edit}" class=" btn-xs btn-info btn-outline"><i class="fa fa-pencil fa-lg"></i></a> <br></p>
               </th:block>              
                            
                            
                            
<th:block th:if="${calendar2.doneto != null}">
                                                    <br>   <p class="maketextsmaller"><b>План заштите и спасавања </b><br>
                                                                <br> Датум доношења: <span th:text="${#temporals.format(calendar2.doneto, 'dd-MM-yyyy')}"></span> 
                                                                    <br> Важи до: <span th:text="${#temporals.format(calendar2.getVazido(), 'dd-MM-yyyy')}"></span> 
                                                                        <br>  Број решења: <span th:text="${calendar2.resenje}"></span> 
                                                                            <a sec:authorize="hasAnyAuthority('ADMIN','RIS','CLIENT')" th:href="@{/client/calendar/edit}" class=" btn-xs btn-info btn-outline"><i class="fa fa-pencil fa-lg"></i></a><br></p>
</th:block>
                                   <th:block th:if="${calendar2.doneto == null}">                      
                             <p class="maketextsmaller"><b>План заштите и спасавања </b> <br>
                                      <br>  Није унето.    
                                      <a sec:authorize="hasAnyAuthority('ADMIN','RIS','CLIENT')" th:href="@{/client/calendar/edit}"class=" btn-xs btn-info btn-outline"><i class="fa fa-pencil fa-lg"></i></a> <br></p>
               </th:block> 
                            
                            
<th:block th:if="${calendar3.doneto != null}">
                                                                                <br>         <p class="maketextsmaller"><b>План смањења ризика </b>  <br>
                                                                                            <br> Датум доношења: <span th:text="${#temporals.format(calendar3.doneto, 'dd-MM-yyyy')}"></span> 
                                                                                                <br> Важи до: <span th:text="${#temporals.format(calendar3.getVazido(), 'dd-MM-yyyy')}"></span> 
                                                                                                    <br>  Број решења: <span th:text="${calendar3.resenje}"></span> 
                                                                                                        <a sec:authorize="hasAnyAuthority('ADMIN','RIS','CLIENT')" th:href="@{/client/calendar/edit}" class=" btn-xs btn-info btn-outline"><i class="fa fa-pencil fa-lg"></i></a><br></p>
</th:block>
                                           <th:block th:if="${calendar3.doneto == null}">                      
                             <p class="maketextsmaller"><b>План смањења ризика </b> <br>
                                      <br>  Није унето.    
                                      <a sec:authorize="hasAnyAuthority('ADMIN','RIS','CLIENT')" th:href="@{/client/calendar/edit}" class=" btn-xs btn-info btn-outline"><i class="fa fa-pencil fa-lg"></i></a> <br></p>
               </th:block> 
                            
                            
<th:block th:if="${calendar4.doneto != null}">

                                                                                                            <br>      <p class="maketextsmaller"><b>Оперативни план за одбрану од поплава </b>  <br>
                                                                                                                        <br> Датум доношења: <span th:text="${#temporals.format(calendar4.doneto, 'dd-MM-yyyy')}"></span> 
                                                                                                                            <br> Важи до: <span th:text="${#temporals.format(calendar4.getVazido(), 'dd-MM-yyyy')}"></span>  
                                                                                                                                <br>  Број решења: <span th:text="${calendar4.resenje}"></span> 
                                                                                                                                    <a sec:authorize="hasAnyAuthority('ADMIN','RIS','CLIENT')" th:href="@{/client/calendar/edit}" class=" btn-xs btn-info btn-outline"><i class="fa fa-pencil fa-lg"></i></a> <br></p>
 </th:block>
                                            <th:block th:if="${calendar4.doneto == null}">                      
                             <p class="maketextsmaller"><b>Оперативни план за одбрану од поплава </b> <br>
                                      <br>  Није унето.    
                                      <a sec:authorize="hasAnyAuthority('ADMIN','RIS','CLIENT')" th:href="@{/client/calendar/edit}" class=" btn-xs btn-info btn-outline"><i class="fa fa-pencil fa-lg"></i></a> <br></p>
               </th:block> 
                                                                                                                                        </th:block>

                                                                                                                                        <th:block th:if="${calendarprazan != null}">
                                                                                                                                            <div class="panel-body" >
                                                                                                                                                <span th:text="${calendarprazan}"></span> <br> </br>
                                                                                                                                                <a sec:authorize="hasAnyAuthority('ADMIN','RIS','CLIENT')" th:href="@{/client/calendar/edit }" class="btn">Унеси период важења</a>
                                                                                                                                            </div>
                                                                                                                                        </th:block>
                                                                                                                                        </div>

                                                                                                                                        </div>
                                                                                                                                        </div>
                                                                                                                                        </div>

                                                                                                                                        </div>
                                                                                                                                        <th:block th:insert="fragments/footer :: footer-standard" />
                                                                                                                                        <th:block th:insert="fragments/scripts :: standard" />
                                                                                                                                        </body>
                                                                                                                                        </html>