<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="fragments/head :: head" />
</head>
<body>

<th:block th:insert="fragments/navigation :: nav-admin-root" />

<!-- Content -->
<div class="px-content">

    <div class="page-header">
        <div class="box m-y-0 bg-transparent">
            <h1 class="box-cell">
                <span class="text-muted font-weight-light">
                    <i class="page-header-icon fa fa-users"></i>
                    <a th:href="@{/admin/opstine}">Локалне самоуправе</a> /
                </span>
                <span th:text="${opstina.name}"></span>
            </h1>

            <!-- Spacer -->
            <hr class="visible-xs visible-sm">
        </div>
    </div>

    <div th:replace="fragments/alert :: error (${errorMessage})"></div>

    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">Подаци о локалној самоуправи</span>
        </div>
        <div class="panel-body">
            
            <form th:action="@{/admin/opstine/{opstinaId}/edit(opstinaId=${opstina.id})}"  method="post" class="form-horizontal" autocomplete="off">
                <div class="form-group">
                    <label class="col-md-3 control-label required">Назив јединице локалне самоуправе:</label>
                    <div th:class="${NameErrorMessage} ? 'col-md-3 has-error' : 'col-md-3'">
                        <input type="text"  th:value="${opstina.name}" name="name" class="form-control">
                            <small class="form-message"  th:text="${NameErrorMessage}"></small>
                    </div>
                    </div>
                
                   <div class="form-group" id="selectdistriktcontainer" o>
                        <label class="col-md-3 control-label required">Припада управном округу</label>
                        <div th:classappend="${distriktErrorMessage} ? 'has-error' : ''" class="col-md-9">
                            <select name="supervisingdistrikt" class="form-control">
                               <option value="0">Одабери округ</option>
                                <option th:each="distrikt : ${distrikti}" th:selected="${opstina.getDistrikt().getName() == distrikt.name}" th:value="${distrikt.id}" th:text="${distrikt.name}"></option>
                            </select>
                            <small class="form-message" th:text="${distriktErrorMessage}"></small>
                        </div>
                    </div>
                
                <div class="form-group"  id="selectprovincecontainer" >
                        <label class="col-md-3 control-label required">Припада аутономној покрајини</label>
                        <div th:classappend="${provinceErrorMessage} ? 'has-error' : ''" class="col-md-9">
                            <select name="supervisingprovince" class="form-control">
                                <option value="0">Одабери аутономну покрајину</option>
                                <option th:each="provincija : ${provincije}" th:selected="${opstina.getProvincija().getName() == provincija.name}" th:value="${provincija.id}" th:text="${provincija.name}"></option>
                            </select>
                            <small class="form-message" th:text="${provinceErrorMessage}"></small>
                        </div>
                    </div>
                
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn btn-primary">Сачувај</button>
                        <a th:href="@{/admin/opstine/{opstinaId}(opstinaId=${opstina.id})}" class="btn">Одустани</a>
                    </div>
                </div>
                            </form>
        </div>
    </div>

    

</div>

<th:block th:insert="fragments/footer :: footer-standard" />

<th:block th:insert="fragments/scripts :: standard" />
</body>
</html>


           