<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <th:block th:include="fragments/head :: head" />
    </head>
    <body class="dashboard">
        <th:block th:insert="fragments/navigation :: navigation" />

        <!-- Content -->
        <div class="px-content contentmali">

            <div th:replace="fragments/page :: title (icon='fa fa-area-chart', title='Администраторски панел')"></div>
           
          
            <p  sec:authorize="hasAnyAuthority('ADMIN','RIS')">
                  <br></br>
                 Корисничко упутство за рад у СИВУС апликацији можете преузети <a href="https://siuvs.rs/img/Uputstvo_admin.pdf">ОВДЕ.</a>
               </p>  
            <p  sec:authorize="hasAnyAuthority('MUP')">
                  <br></br>
                 Корисничко упутство за рад у СИВУС апликацији можете преузети <a href="https://siuvs.rs/img/Uputstvo_supervizor.pdf">ОВДЕ.</a>
               </p> 
        <th:block th:insert="fragments/investitori :: investors" />
         <!--
                    <th:block th:insert="fragments/page :: contact" />
            -->
            
            
 </div>

        <th:block th:insert="fragments/footer :: footer-standard" />

        <th:block th:insert="fragments/scripts :: standard" />
    </body>
</html>