<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="fragments/head :: head" />
</head>
<body class="dashboard">
    <th:block th:insert="fragments/navigation :: navigation" />

    <!-- Content -->
    <div class="px-content">

        <div th:replace="fragments/page :: title (icon='fa fa-area-chart', title='Администраторски панел')"></div>
        <div class="panel">
            <div class="panel-title" style="text-align: center; font-size: 3em;">DRIS</div>
            <div class="panel-body" style="color:#304251; max-width: 800px">
                <p style="text-align: center; font-size: 2em;">Disaster Risk Identification System</p>
                <p style="text-align: center; font-size: 1.2em;">Развојно иновациони систем д.о.о. - СИУВС 1.0</p>
                <p style="text-align: center; font-size: 1.2em;"> Добродошли на СИУВС апликацију!<br/>
СИУВС је посебно прилагођена, наменска апликација, креирана за потребе
управљања обавезујућим евиденцијама у складу са Законом о смањењу ризика
и управљању у ванредним ситуацијама. Апликација омогућава надлежним,
овлашћеним лицима из општина у Србији да администрирају  податке о
процени ризика, односно плановима заштите и спасавања сходно Закону.

Корисничко упутство за рад у СИВУС апликацији можете преузети <a href="https://siuvs.rs/img/Manual.pdf">ОВДЕ.</a>
                </p>
            </div>
        </div>


        <th:block th:insert="fragments/page :: contact" />
       
    </div>


    <th:block th:insert="fragments/footer :: footer-standard" />

    <th:block th:insert="fragments/scripts :: standard" />
</body>
</html>