<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <th:block th:include="fragments/head :: head" />
    </head>
    <body>

        <!-- Nav -->
        <th:block th:insert="fragments/navigation :: navigation-end-user"></th:block>

        <!-- Content -->
        <div class="px-content">

            <div class="page-header">
                <h1>
                    <th:block th:insert="fragments/navigation :: nav-breadcrumbs-Kartoni-MTS" />
                </h1>
            </div>

            <div th:replace="fragments/alert :: success (${successMessage})"></div>

            <!-- Client details panel -->

            <div class="panel panel-custom-width">
                <div class="panel-heading">
                    <span class="panel-title">Картон Материјално техничког средства </span>
                </div>
                <div class="karton">
                    <div class="table-responsive">
                        <form th:action="@{/client/kartonMTS/{kartonId}/izmeniOrgJedinicu (kartonId=${karton.id})}"  method="post" class="form-horizontal" autocomplete="off">  
                            <table class="table table-striped valign-middle">


                                <tbody>

                                    <tr  >
                                        <td colspan="2" class="pl-custom highlighted-row-custom custom-td-width-left">Власник (правно лице):</td> 
                                        <td colspan="3" >
                                            <select class="col-md-6 "  name="vlasnik_id"  >
                                                <option  th:each="orgJedinica : ${listaOrgJedinica}" th:value="${orgJedinica.vlasnikMTS.id}" th:text="${orgJedinica.vlasnikMTS.vlasnik_naziv}" th:selected="${karton.vlasnikMTS.id==orgJedinica.vlasnikMTS.id}">Текст</option>
                                            </select> 
                                    </tr>

                                    <tr  >
                                        <td colspan="2" class="pl-custom highlighted-row-custom">Организациона јединица власника где се МТС налази:</td> 
                                        <td colspan="3"> <input type="text" name="naziv_org_jedinice" th:value="${karton.orgJedinicaMTS.naziv_org_jedinice}?:'/'"></td> 
                                    </tr>

                                    <tr  >
                                        <td colspan="2"  class="pl-custom highlighted-row-custom"> Име и презиме одговорног лица:</td> 
                                        <td colspan="1" > <input type="text" name="odgovorno_lice" th:value="${karton.orgJedinicaMTS.odgovorno_lice}?:'/'"></td> 
                                    </tr>

                                    <tr  >
                                        <td colspan="2" class="pl-custom highlighted-row-custom"> Фиксни телефон одговорног лица:</td> 
                                        <td colspan="1"> <input type="text" name="fiksni_tel_odg_lica" th:value="${karton.orgJedinicaMTS.fiksni_tel_odg_lica}?:'/'"></td> 
                                    </tr>

                                    <tr  >
                                        <td colspan="2" class="pl-custom highlighted-row-custom">Мобилни телефон одговорног лица:</td> 
                                        <td colspan="1"> <input type="text" name="mobilni_tel_odg_lica" th:value="${karton.orgJedinicaMTS.mobilni_tel_odg_lica}?:'/'"></td> 
                                    </tr>

                                    <tr  >
                                        <td colspan="2" class="pl-custom highlighted-row-custom">Е-маил адреса одговорног лица:</td> 
                                        <td colspan="1"> <input type="text" name="email_odg_lica" th:value="${karton.orgJedinicaMTS.email_odg_lica}?:'/'"></td> 
                                    </tr>

                                    <tr  >
                                        <td colspan="2" class="pl-custom highlighted-row-custom">Адреса на којој се МТС налази:</td> 
                                        <td colspan="1"> <input type="text" name="mts_adresa" th:value="${karton.orgJedinicaMTS.mts_adresa}?:'/'"></td> 
                                    </tr>

                                    <tr  >
                                        <td colspan="2" class="pl-custom highlighted-row-custom">Географска ширина локације МТС:</td> 
                                        <td colspan="1"> <input type="text" name="geografska_sirina_mts" th:value="${karton.orgJedinicaMTS.geografska_sirina_mts}?:'/'"></td> 
                                    </tr>

                                    <tr  >
                                        <td colspan="2" class="pl-custom highlighted-row-custom">Географска дужина локације МТС:</td> 
                                        <td colspan="1"> <input type="text" name="geografska_duzina_mts" th:value="${karton.orgJedinicaMTS.geografska_duzina_mts}?:'/'"></td> 
                                    </tr>

                                    <tr  >
                                        <td colspan="2" class="pl-custom highlighted-row-custom">Надлежна организациона јединица СВС која води евиденцију МТС:</td> 
                                        <td colspan="1"> <input type="text" name="nadlezna_org_jednica_svs" th:value="${karton.orgJedinicaMTS.nadlezna_org_jednica_svs}?:'/'"></td> 
                                    </tr>



                                </tbody>
                            </table>

                            <div class="col-md-offset-3  bottomTwoButtons">
                                <button type="submit"  value="save" class="btn btn-primary">Сачувај</button>
                                <a th:href="@{/client/kartonMTS/{kartonId} (kartonId=${karton.id})}"  class="btn">Одустани</a>
                            </div> 
                        </form> 
                    </div>
                </div>       
            </div>



        </div>

        </div>
        <th:block th:insert="fragments/footer :: footer-standard" />
        <th:block th:insert="fragments/scripts :: standard" />
    </body>
</html>