target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### external aplication properties ###

application.properties

### netbeans generted actions file from windows enviroment ###
nbactions.xml
application.properties
siuvs servis koji runuje aplikaciju.txt
application.properties
siuvs-prod-2019-08-04-0100.sql
application.properties
src/main/resources/application.properties
