<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <th:block th:include="fragments/head :: head" />
    </head>
    <body class="dashboard">
        <!-- Content -->
        <th:block th:insert="fragments/navigation :: navigation-mobileOnly" />
        <!-- Content -->
        <!-- Content -->
        <div class="px-content contentmali">
            <!-- Content -->
            <div th:replace="fragments/page :: title (icon='fa fa-area-chart', title='Преглед корисника пријављених за обавештења')"></div>
            <!-- Content -->

            <div class="panel-body data-panel-body">
                <div th:replace="fragments/alert :: success (${successMessage})"></div>

                <div th:replace="fragments/alert :: error (${errorMessage})"></div>

                <div class="panel" >
                    <div class="panel-body data-panel-body">

                        <p>Број корисника пријављених за обавештења :   <span th:text="${BrojPrijavljenihZaServis}"></span></p>
                       <p>Број корисника који примају обавештења (пријављени за овај сервис + пријављени за све сервисе):   <span th:text="${BrojPrijavljenihZaSveServise+BrojPrijavljenihZaServis}"></span></p>


                    </div>
                </div>

            </div> 
            <!-- Content -->

        </div>

        <th:block th:insert="fragments/footer :: footer-standard" />

        <th:block th:insert="fragments/scripts :: standard" />
    </body>
</html>