<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <th:block th:include="fragments/head :: head" />
    </head>
    <body>

        <th:block th:insert="fragments/navigation :: navigation-supervisor" />

        <!-- Content -->
        <div class="px-content">

            <div class="page-header">
                <div class="box m-y-0 bg-transparent">
                    <h1 class="box-cell col-md-7 col-lg-8 col-xl-9"><i class="page-header-icon fa fa-institution"></i>Корисници</h1>

                </div>
            </div>

            <div th:replace="fragments/alert :: success (${successMessage})"></div>

            <!-- Clients list -->
            <div class="panel">
                <!--                <select name="forma" onchange="location = 'clients/' + this.value;">
                                    <option value="">Изаберите општину</option>
                                    <th:block th:each="client : ${allclients}">
                                        <option th:value="${client.id}" th:text="${client.name}"></option>
                                    </th:block>
                                </select>-->
                <div class="panel-heading">
                    <span class="panel-title">Списак корисника</span>

                    <div class="panel-heading-controls">
                        <ul class="pagination pagination-xs">
                            <li th:class="${clients.isFirst()} ? 'disabled' : ''">
                                <a th:if="${clients.isFirst()}" href="#">«</a>
                                <a th:if="${clients.getNumber() == 1}" th:href="@{/supervisor/clients}">«</a>
                                <a th:if="${clients.getNumber() > 1}" th:href="@{/supervisor/clients(page=${clients.getNumber()-1})}">«</a>
                            </li>
                            <th:block th:with="startPage = ${clients.getNumber() - 2}">
                                <th:block th:with="startPage = ${startPage < 0} ? 0 : ${startPage}">
                                    <th:block th:with="endPage = ${startPage} + 4">
                                        <th:block th:with="lastPage = (${clients.getTotalPages() - 1})">
                                            <th:block th:with="endPage = ${endPage > lastPage} ? ${lastPage} : ${endPage}">
                                                <th:block th:with="startPage = ${startPage > 0 and endPage == lastPage} ? ${endPage - 3} : ${startPage}">
                                                    <th:block th:with="startPage = ${startPage > 0 and endPage == lastPage} ? ${startPage - 1} : ${startPage}">
                                                        <th:block th:each="pageNo : ${#numbers.sequence(startPage, endPage)}">
                                                            <li th:if="${pageNo == clients.getNumber()}" class="active">
                                                                <a th:text="${pageNo + 1}" href="#"></a>
                                                            </li>
                                                            <li th:if="${pageNo != clients.getNumber()}">
                                                                <a  style="color:#fff" th:if="${pageNo > 0}" th:text="${pageNo + 1}" th:href="@{/supervisor/clients(page=${pageNo})}"></a>
                                                                <a  style="color:#fff" th:if="${pageNo == 0}" th:text="${pageNo + 1}" th:href="@{/supervisor/clients}"></a>
                                                            </li>
                                                        </th:block>
                                                    </th:block>
                                                </th:block>
                                            </th:block>
                                        </th:block>
                                    </th:block>
                                </th:block>
                            </th:block>
                            <li th:class="${clients.isLast()} ? 'disabled' : ''">
                                <a th:if="${clients.isLast()}" href="#">»</a>
                                <a th:if="${not clients.isLast()}" th:href="@{/supervisor/clients(page=${clients.getNumber()+1})}">»</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <br>
                     <select class="select-opstina-custom" name="forma" onchange="location = 'clients/' + this.value;">
                        <option  value="">Изаберите општину</option>
                        <th:block th:each="client : ${allclients}">
                            <option class="custom-option-style" th:value="${client.id}" th:text="${client.name}"></option>
                        </th:block>
                    </select>
                    <div class="panel-body">
<!--
                        <table class="table table-striped table-hover">
                            <thead class="thead-custom">
                                <tr>
                                    <th>#</th>
                                    <th>Назив корисника</th>
                                    <th>Активан</th>
                                </tr>
                            </thead>
                            <tbody>
                               
                                    <th class="table-border-custom" scope="row" th:text="${client.id}"></th>
                                    <td class="table-border-custom" th:text="${client.name}"></td>
                                    <td class="table-border-custom" th:text="${client.isActive()} ? 'ДА' : 'НЕ'"></td>
                                </tr>
                            </tbody>
                        </table>-->
                        
                        <table class="table table-striped">
                        <thead>
                            <tr>
<!--                                <th>#</th>-->
                                 <th class=" col-md-3" >Назив корисника</th>
                                <th class=" col-md-1">Индикатор ПР</th>
                                <th class=" col-md-1">Индикатор ПЗС</th>
                                <th class=" col-md-1">Индикатор ПСР</th>
                                
                                <th class=" col-md-1">Активан</th>
                                <th class=" col-md-5"></th>
                            </tr>
                        </thead>
                        <tbody>
                             <tr th:each="client: ${clients}" th:attr="data-href=@{/supervisor/clients/{id}(id=${client.id})}">
<!--                                <th class="table-border-custom" scope="row" th:text="${client.id}"></th>-->
                                 <td class="table-border-custom col-md-3" th:text="${client.name}"></td>
                                 
                                <th:block  th:with="kalendari=${client.getCalendarSorted()}">
                                      
                                    <th:block th:switch="${komparator.uporedi(currentDate,kalendari.get(0).vazido)}">
                                    <td class="table-border-custom col-md-1" th:case="'1'" data-toggle="tooltip" data-placement="right" title="Није унет период важења"><a  > <i class="fa fa-circle" style="color: black"> </i>  </a></td>
                                     <td class="table-border-custom col-md-1" th:case="'2'" data-toggle="tooltip" data-placement="right" th:title="${'Документу истиче период важења за мање од 3 месеца, датум истека: '+kalendari.get(0).vazido}"><a  > <i class="fa fa-circle" style="color: red"></i></a></td>
                                     <td class="table-border-custom col-md-1" th:case="'3'" data-toggle="tooltip" data-placement="right" th:title="${'Документу истиче период важења за мање од 6 месеци, датум истека: '+kalendari.get(0).vazido}"><a  > <i class="fa fa-circle" style="color: orange"></i></a></td>
                                     <td class="table-border-custom col-md-1" th:case="'4'" data-toggle="tooltip" data-placement="right" th:title="${'Документу истиче период важења за више од 6 месеци, датум истека: '+kalendari.get(0).vazido}"><a  > <i class="fa fa-circle" style="color: green"></i> </a></td>
                                     </th:block>
                                       <th:block th:switch="${komparator.uporedi(currentDate,kalendari.get(1).vazido)}">
                                  <td class="table-border-custom col-md-1" th:case="'1'" data-toggle="tooltip" data-placement="right" title="Није унет период важења"><a  > <i class="fa fa-circle" style="color: black"> </i>  </a></td>
                                     <td class="table-border-custom col-md-1" th:case="'2'" data-toggle="tooltip" data-placement="right" th:title="${'Документу истиче период важења за мање од 3 месеца, датум истека: '+kalendari.get(1).vazido}"><a  > <i class="fa fa-circle" style="color: red"></i></a></td>
                                     <td class="table-border-custom col-md-1" th:case="'3'" data-toggle="tooltip" data-placement="right" th:title="${'Документу истиче период важења за мање од 6 месеци, датум истека: '+kalendari.get(1).vazido}"><a  > <i class="fa fa-circle" style="color: orange"></i></a></td>
                                     <td class="table-border-custom col-md-1" th:case="'4'" data-toggle="tooltip" data-placement="right" th:title="${'Документу истиче период важења за више од 6 месеци, датум истека: '+kalendari.get(1).vazido}"><a  > <i class="fa fa-circle" style="color: green"></i> </a></td>
                                     </th:block>
                                      <th:block th:switch="${komparator.uporedi(currentDate,kalendari.get(2).vazido)}">
                                  <td class="table-border-custom col-md-1" th:case="'1'" data-toggle="tooltip" data-placement="right" title="Није унет период важења"><a  > <i class="fa fa-circle" style="color: black"> </i>  </a></td>
                                     <td class="table-border-custom col-md-1" th:case="'2'" data-toggle="tooltip" data-placement="right" th:title="${'Документу истиче период важења за мање од 3 месеца, датум истека: '+kalendari.get(2).vazido}"><a  > <i class="fa fa-circle" style="color: red"></i></a></td>
                                     <td class="table-border-custom col-md-1" th:case="'3'" data-toggle="tooltip" data-placement="right" th:title="${'Документу истиче период важења за мање од 6 месеци, датум истека: '+kalendari.get(2).vazido}"><a  > <i class="fa fa-circle" style="color: orange"></i></a></td>
                                     <td class="table-border-custom col-md-1" th:case="'4'" data-toggle="tooltip" data-placement="right" th:title="${'Документу истиче период важења за више од 6 месеци, датум истека: '+kalendari.get(2).vazido}"><a  > <i class="fa fa-circle" style="color: green"></i> </a></td>
                                     </th:block>

                                </th:block>
                             
        <td class="table-border-custom" th:text="${client.isActive()} ? 'ДА' : 'НЕ'"></td>
          <td class="table-border-custom col-md-5" > </td>
                            </tr>
                        </tbody>
                    </table>

                    </div>
            </div>

        </div>

        <th:block th:insert="fragments/footer :: footer-standard" />

        <th:block th:insert="fragments/scripts :: standard" />
    </body>
</html>