<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <th:block th:include="fragments/head :: head" />
    </head>
    <body>

        <!-- Nav -->
        <th:block th:insert="fragments/navigation :: navigation-supervisor-client"></th:block>

        <!-- Content -->
        <div class="px-content">

            <div class="page-header">
                <h1>
                    <th:block th:insert="fragments/navigation :: nav-breadcrumbs-Kartoni-udruzenja" />
                </h1>
            </div>

            <div th:replace="fragments/alert :: success (${successMessage})"></div>

            <!-- Client details panel -->
            
                      <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">Листа евиденционих картона Удружења / невладиних организација oд значаја  за заштиту и спасавање  </span>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped valign-middle">
                       <thead>
                            <tr>
<!--                                <th>#</th>-->
                                 <th class=" col-md-1">Редни број</th>
                                 <th class=" col-md-1" >Пун Назив удружења</th>
                                <th class=" col-md-1">Скраћени назив</th>
                                <th class=" col-md-1">Адреса</th>
                             
                                
                       
                            </tr>
                        </thead>
                        
                        <tbody>
                            <th:block th:each="karton, iKarton : ${listaKartona}">
                            <tr th:attr="data-href=@{/supervisor/clients/{clientId}/kartonUdruzenja/{kartonId} (clientId=${client.id}, kartonId=${karton.id})}" >
                                <td> <span th:text="${iKarton.count}"></span></td> 
                                <td> <span th:text="${karton.punnaziv}"></span></td> 
                                <td> <span th:text="${karton.skraceninaziv}"></span></td> 
                            <td> <span th:text="${karton.adresa}"></span></td> 
                            </tr>
</th:block>
                            <tr>
                          
                            </tr>
                        </tbody>
                        
                    </table>
                    
                </div>
                        
            </div>
             
            
                                                            </div>

                                                            <th:block th:insert="fragments/footer :: footer-standard" />
                                                            <th:block th:insert="fragments/scripts :: standard" />
                                                            </body>
                                                            </html>