<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head> 
        <th:block th:include="fragments/head :: head" />
    </head>
    <body>

        <!-- Nav -->

     <th:block th:insert="fragments/navigation :: navigation-supervisor-client" />

        <!-- Content -->
        
            <div class="px-content">

                <div class="page-header" >
                    <h1>
                        Извештаји
                    </h1>
                </div>

                

                <div class="panel" >
                   <div class="panel-body"> 
                       <div class="panel-heading">
                    <span class="panel-title">Основна статистика унетих докумената</span>
                </div>
<!--                   <br><br/>
                Број отворених  и активних налога ЈЛСУ у систему је: <span th:text="${brojOpstina}"></span>-->
                <br><br/>
            Преглед унетих докумената по датуму истека: 
                        <br><br/>
                            
Период важења истиче за мање од 3 месеци / истекао:   <br><br/>
<button class="button-custom-first" style="border-color: red" onclick="resetElementKalendarCrveno()" ><b> Прикажи листу</b></button>   <br><br/>
<div class="form-group" id="listaCalendarCrveno" style="display:none">
<!-- <br><br/>-->     <button class="button-custom-second" onclick="resetElementKalendarCrvenoHide()" ><b> Уклони листу</b></button> 
<br><br/>       <th:block th:if="${!calendarListCrvena.empty}"> 
<table class="table table-striped table-hover">
<thead class="thead-custom">
<tr>

<th>Назив корисника</th>
<th>Назив документа</th> 
<th>Важи до</th>
</tr>
</thead>
<tbody>
<tr th:each="calendarC: ${calendarListCrvena}" th:attr="data-href=@{/admin/clients/{id}(id=${calendarC.client.id})}">

<td class="table-border-custom" th:text="${calendarC.client.name}"></td>
<td class="table-border-custom" th:text="${calendarC.dokument}"></td>
<td class="table-border-custom" th:text="${#temporals.format(calendarC.vazido, 'dd-MM-yyyy')}"></td>
</tr>
</tbody>
</table>
<br><br/>
</th:block>


</div>
                              
Период важења истиче за 3-6 месеци:   <br><br/>
<button class="button-custom-first" style="border-color: yellow" onclick="resetElementKalendarZuto()" ><b> Прикажи листу</b></button>   <br><br/>

<div class="form-group" id="listaCalendarZuto" style="display:none">
<!-- <br><br/>-->     <button class="button-custom-second" onclick="resetElementKalendarZutoHide()" ><b> Уклони листу</b></button> 
<br><br/>       <th:block th:if="${!calendarListZuta.empty}"> 
<table class="table table-striped table-hover">
<thead class="thead-custom">
<tr>

<th>Назив корисника</th>
<th>Назив документа</th> 
<th>Важи до</th>
</tr>
</thead>
<tbody>
<tr th:each="calendarZ: ${calendarListZuta}" th:attr="data-href=@{/admin/clients/{id}(id=${calendarZ.client.id})}">

<td class="table-border-custom" th:text="${calendarZ.client.name}"></td>
<td class="table-border-custom" th:text="${calendarZ.dokument}"></td>
<td class="table-border-custom" th:text="${#temporals.format(calendarZ.vazido, 'dd-MM-yyyy')}"></td>
</tr>
</tbody>
</table>
<br><br/>
</th:block>


</div>
                              
Период важења истиче за више од 6 месеци:   <br><br/>
<button class="button-custom-first" style="border-color: green" onclick="resetElementKalendarZeleno()" ><b> Прикажи листу</b></button>   <br><br/>

<div class="form-group" id="listaCalendarZeleno" style="display:none">
<!-- <br><br/>-->     <button class="button-custom-second" onclick="resetElementKalendarZelenoHide()" ><b> Уклони листу</b></button> 
<br><br/>       <th:block th:if="${!calendarListZelena.empty}"> 
<table class="table table-striped table-hover">
<thead class="thead-custom">
<tr>

<th>Назив корисника</th>
<th>Назив документа</th> 
<th>Важи до</th>
</tr>
</thead>
<tbody>
<tr th:each="calendarZe: ${calendarListZelena}" th:attr="data-href=@{/admin/clients/{id}(id=${calendarZe.client.id})}">

<td class="table-border-custom" th:text="${calendarZe.client.name}"></td>
<td class="table-border-custom" th:text="${calendarZe.dokument}"></td>
<td class="table-border-custom" th:text="${#temporals.format(calendarZe.vazido, 'dd-MM-yyyy')}"></td>
</tr>
</tbody>
</table>
<br><br/>
</th:block>


</div>        
                  
                                    <div class="panel-heading">
                    <span class="panel-title">Процене ризика</span>
                </div> <br><br/>
<!--                    Број ЈЛСУ са унетом Проценом ризика је: <span th:text="${brojProcena}"></span>
                    <br><br/>-->
                      
                        Листа ЈЛСУ које имају унету Процену ризика за макар једну врсту опасности.   <button onclick="resetElementLAIma()" ><b> Прикажи листу</b></button> 
                    <div class="form-group" id="listaAssesmentIma" style="display:none">
                  <br><br/>     <button onclick="resetElementLAImaHide()" ><b> Уклони листу</b></button> 
                         <th:block th:if="${!clientSaAssessment.empty}"> 
                        <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Назив корисника</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="clientA: ${clientSaAssessment}" th:attr="data-href=@{/supervisor/clients/{id}(id=${clientA.id})}">
                                <th scope="row" th:text="${clientA.id}"></th>
                                <td th:text="${clientA.name}"></td>
                            
                            </tr>
                        </tbody>
                    </table>
                                                 <br><br/>
                            </th:block>
                        
                        
                    </div>
                  <br><br/>       Листа ЈЛСУ које нeмају унету Процену ризика за ниједну врсту опасности.   <button onclick="resetElementLA()" ><b> Прикажи листу</b></button> 
                    <div class="form-group" id="listaAssesment" style="display:none">
                    <br><br/>     <button onclick="resetElementLAHide()" ><b> Уклони листу</b></button> 
                         <th:block th:if="${!clientBezAssessment.empty}"> 
                        <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Назив корисника</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="clientA: ${clientBezAssessment}" th:attr="data-href=@{/supervisor/clients/{id}(id=${clientA.id})}">
                                <th scope="row" th:text="${clientA.id}"></th>
                                <td th:text="${clientA.name}"></td>
                            
                            </tr>
                        </tbody>
                    </table>
                         </th:block>
                        
                        
                    </div>
                    <br><br/>
                        <div class="panel-heading">
                    <span class="panel-title">План заштите и спасавања</span>
                </div> <br><br/>
                    Број ЈЛСУ са унетим Планом заштите и спасавања је: <span th:text="${brojPZS}"></span>
                    <br><br/>
                          Листа ЈЛСУ које имају унет План заштите и спасавања.   <button onclick="resetElementLPZSIma()" ><b> Прикажи листу</b></button> 
                    <div class="form-group" id="listaPZSIma" style="display:none">
                     <br><br/>     <button onclick="resetElementLPZSImaHide()" ><b> Уклони листу</b></button> 
                         <th:block th:if="${!clientSaPZS.empty}"> 
                        <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Назив корисника</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="clientA: ${clientSaPZS}" th:attr="data-href=@{/supervisor/clients/{id}(id=${clientA.id})}">
                                <th scope="row" th:text="${clientA.id}"></th>
                                <td th:text="${clientA.name}"></td>
                            
                            </tr>
                        </tbody>
                    </table>
                             <br><br/>
                                       </th:block>
                        
                        
                    </div>
                 <br><br/>          Листа ЈЛСУ које нeмају унет План заштите и спасавања.   <button onclick="resetElementLPZS()" ><b> Прикажи листу</b></button> 
                    <div class="form-group" id="listaPZS" style="display:none">
                     <br><br/>     <button onclick="resetElementLPZSHide()" ><b> Уклони листу</b></button> 
                         <th:block th:if="${!clientBezPZS.empty}"> 
                        <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Назив корисника</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="clientA: ${clientBezPZS}" th:attr="data-href=@{/supervisor/clients/{id}(id=${clientA.id})}">
                                <th scope="row" th:text="${clientA.id}"></th>
                                <td th:text="${clientA.name}"></td>
                            
                            </tr>
                        </tbody>
                    </table>
                         </th:block>
                        
                        
                    </div>  
                    <br><br/>
                               <div class="panel-heading">
                    <span class="panel-title">План смањења ризика</span>
                </div> <br><br/>
                    Број унетих Планова смањења ризика на нивоу свих ЈЛС је: <span th:text="${brojPSR}"></span>   
                    <br><br/>
                        <br><br/>
                    Број реализованих активности из Плана смањења ризика на нивоу свих ЈЛС је: <span th:text="${brojAktivnostiGotovih}"></span>   
                    <br><br/>
                    Број активности са статусом "у току" или "није релевантно" из Плана смањења ризика на нивоу свих ЈЛС је: <span th:text="${brojAktivnostiUToku}"></span>  
                    <br><br/>
                    Број активности од чије се реализације одустало из Плана смањења ризика на нивоу свих ЈЛС је: <span th:text="${brojAktivnostiOdustalih}"></span>  
                         <br><br/>
                              <br><br/>
                          Листа ЈЛСУ које имају унет План смањења ризика.   <button onclick="resetElementPSRIma()" ><b> Прикажи листу</b></button> 
                    <div class="form-group" id="listaPSRIma" style="display:none">
                     <br><br/>     <button onclick="resetElementPSRImaHide()" ><b> Уклони листу</b></button> 
                         <th:block th:if="${!clientSaPSR.empty}"> 
                        <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Назив корисника</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="clientA: ${clientSaPSR}" th:attr="data-href=@{/supervisor/clients/{id}(id=${clientA.id})}">
                                <th scope="row" th:text="${clientA.id}"></th>
                                <td th:text="${clientA.name}"></td>
                            
                            </tr>
                        </tbody>
                    </table>
                              <br><br/>
                                        </th:block>
                        
                        
                    </div>
                  <br><br/>         Листа ЈЛСУ које немају унет План смањења ризика.   <button onclick="resetElementPSR()" ><b> Прикажи листу</b></button> 
                    <div class="form-group" id="listaPSR" style="display:none">
                     <br><br/>     <button onclick="resetElementPSRHide()" ><b> Уклони листу</b></button> 
                         <th:block th:if="${!clientBezPSR.empty}"> 
                        <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Назив корисника</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="clientA: ${clientBezPSR}" th:attr="data-href=@{/supervisor/clients/{id}(id=${clientA.id})}">
                                <th scope="row" th:text="${clientA.id}"></th>
                                <td th:text="${clientA.name}"></td>
                            
                            </tr>
                        </tbody>
                    </table>
                             <br><br/>
                                   </th:block>
                        
                        
                    </div>
                           <div class="panel-heading">
                    <span class="panel-title">Оперативни план одбране од поплава</span>
                </div>
                      <br><br/>
                Број ЈЛСУ у систему са унетим Оперативни планом заштите од поплава је: <span th:text="${brojOPplanova}"></span>    
                <br><br/>
                Листа ЈЛСУ које имају унет Оперативни план заштите од поплава.    <button onclick="resetElementPPDIma()"><b> Прикажи листу</b></button> 
                <div class="form-group" id="listaPPDIma" style="display:none">
                   <br><br/>     <button onclick="resetElementPPDImaHide()" ><b> Уклони листу</b></button> 
                   
                    
                         <th:block th:if="${!clientSaPPD.empty}"> 
                        <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Назив корисника</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="clientB: ${clientSaPPD}" th:attr="data-href=@{/supervisor/clients/{id}(id=${clientB.id})}">
                                <th scope="row" th:text="${clientB.id}"></th>
                                <td th:text="${clientB.name}"></td>
                            
                            </tr>
                        </tbody>
                    </table>
                              <br><br/>
                                                   </th:block>
                       
                        
                    </div>
             <br><br/>    Листа ЈЛСУ које нeмају унет Оперативни план заштите од поплава.    <button onclick="resetElementPPD()"><b> Прикажи листу</b></button> 
                <div class="form-group" id="listaPPD" style="display:none">
                     <br><br/>     <button onclick="resetElementPPDHide()" ><b> Уклони листу</b></button> 
                      
                    
                         <th:block th:if="${!clientBezPPD.empty}"> 
                        <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Назив корисника</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="clientB: ${clientBezPPD}" th:attr="data-href=@{/supervisor/clients/{id}(id=${clientB.id})}">
                                <th scope="row" th:text="${clientB.id}"></th>
                                <td th:text="${clientB.name}"></td>
                            
                            </tr>
                        </tbody>
                    </table>
                         </th:block>
                        
                        
                    
                    </div>
                 
                </div>
                </div>

                <!---->
            </div>
        </th:block>
        <th:block th:insert="fragments/footer :: footer-standard" />
<script th:src="@{/js/izvestajiListeDropdown.js}"type="text/javascript"></script>
        <th:block th:insert="fragments/scripts :: standard" />
        <script th:src="@{/js/matrix.js}"></script>
    </body>
</html>