<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="fragments/head :: head" />
</head>
<body>

<!--<th:block th:insert="fragments/navigation :: navigation" />-->
<th:block sec:authorize="hasAnyAuthority('ADMIN','RIS', 'MUP')" th:insert="fragments/navigation :: navigation" />
<th:block sec:authorize="hasAnyAuthority('CLIENT','CLIENT_READ_ONLY')" th:insert="fragments/navigation :: navigation-end-user" />
<th:block sec:authorize="hasAnyAuthority('DISTRIKT','PROVINCE')" th:insert="fragments/navigation :: navigation-supervisor" />
<!-- Content -->
<div class="px-content">

    <div th:replace="fragments/page :: title (icon='fa fa-area-chart', title='Мој Профил')"></div>

    <div th:replace="fragments/alert :: success (${successMessage})"></div>
    <div th:replace="fragments/alert :: error (${errorMessage})"></div>

    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">Промена лозинке</span>
        </div>
        <div class="panel-body">

            <th:block th:insert="fragments/forms/profile :: change-password (@{/profile/changepassword}, @{/profile})"></th:block>

        </div>
    </div>

</div>

<th:block th:insert="fragments/footer :: footer-standard" />

<th:block th:insert="fragments/scripts :: standard" />
</body>
</html>