<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="fragments/head :: head" />
</head>
<body>

    <!-- Nav -->
    <th:block th:insert="fragments/navigation-publicaccess :: navigation-end-user"></th:block>

  <!-- Content -->
    <div class="px-content">

        <div class="page-header">
            <h1>
                <!--
                <th:block th:insert="fragments/navigation :: nav-breadcrumbs-admin-client-view(${client})" />
                -->
            </h1>
        </div>

              <div th:replace="fragments/alert :: success (${successMessage})"></div>

              <!-- Client details panel -->
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">Подаци о кориснику</span>
            </div>
            <div class="panel-body">


                <br/>
                Из менија изаберите жељене информације за <th:block th:text="${client.name}"></th:block>
                <br/>  <br/>
                Ставке у менију означене као "Тренутно није јавно доступно" су тренутно недоступне јер садрже осетљиве податке (нпр. Име, Презиме, број телефона)
                 <br/>
            </div>
        </div>

    </div>

    <th:block th:insert="fragments/footer :: footer-standard" />

    <th:block th:insert="fragments/scripts :: standard" />
</body>
</html>