<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
     <th:block th:include="fragments/head :: head" />
</head>

   
     <body class="dashboard">

     <th:block th:insert="fragments/navigation-publicaccess :: navigation"></th:block>
   <div th:replace="fragments/alert :: error (${errorMessage})"></div>
        <!-- Content -->
        <div class="px-content contentmali">


                <p class="maketextsmaller" >Јавни приступ</p>
                <a class="maketextsmaller" style="color:darkslateblue" th:href="@{/publicaccess/clients}"><i class="fa fa-institution m-r-1"></i>Избор јединице локалне самоуправе</a>
                <br></br>
                 Корисничко упутство за рад у СИВУС апликацији можете преузети <a href="https://siuvs.rs/img/Uputstvo_javnipristup.pdf">ОВДЕ.</a>
                </p>
           
        
        
        <th:block th:insert="fragments/investitori :: investors" />
   
</div>

        <th:block th:insert="fragments/footer :: footer-standard" />

        <th:block th:insert="fragments/scripts :: standard" />
    </body>
 
</html>
