<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head> 
        <th:block th:include="fragments/head :: head" />
    </head>
    <body>

        <!-- Nav -->
        <th:block th:insert="fragments/navigation :: navigation-end-user"></th:block>

        <!-- Content -->
        <div class="px-content">

            <div class="page-header" >
                <h1>
                    <th:block th:insert="fragments/navigation :: nav-breadcrumbs-client(${client}, true)" />
                </h1>
            </div>

            <div th:replace="fragments/alert :: success (${successMessage})"></div>

            <div th:replace="fragments/alert :: error (${errorMessage})"></div>

            <div class="panel" >
                <div class="panel-heading">

                    <span class="panel-title"> Додај нови циљ</span> 
                </div>

                <div class="panel-body data-panel-body">



                    <div class="panel-body">

                        <form th:action="@{/client/plan/{pageId}/saveEditPosebanCilj/{posebanCiljId} (posebanCiljId=${posebanCilj.id},pageId=${page.id})}"  method="post" class="form-horizontal" autocomplete="off">
                            <div class="form-group">
                                 <label  class="col-md-3 " >Посебан циљ припада компоненти: </label>
                                    <div class="col-md-9" >
                                         
                                            <select class="col-md-9 "  name="posebanCiljKomponenta"  >
                                            <option  value="1" >Компонента 1: Разумевање ризика од катастрофа</option>
                                            <option  value="2" >Компонента 2: Јачање управе и институција како би управљале ризиком од катастрофа</option>
                                             <option  value="3" >Компонента 3: Инвестирање у структурне и неструктурне мере</option>
                                              <option  value="4" >Компонента 4: Јачање спремности за делотворно реаговање, и успостављање бољег система током обнове и реконструкције</option>
                                        </select> 
                                    </div><br> </br>
                                <label  class="col-md-3 " >Посебан циљ текст: </label>
                                <div class="col-md-9" >

                                    <input type="text"   class="col-md-9"  name="posebanCiljText" th:value="${posebanCilj.posebanCiljText}"> 
                                </div>
                                <br> </br> 
                                <label  class="col-md-3 " >Показатељ текст: </label>
                                <div class="col-md-9" >
                                    <input type="text"   class="col-md-9"  name="indikator" th:value="${posebanCilj.indikator}"> 
                                </div>
                                <br> </br>   
                                <label  class="col-md-3 " >ПВ текст: </label>
                                <div class="col-md-9" >
                                    <input type="text"   class="col-md-9"  name="indikatorPv" th:value="${posebanCilj.indikatorPv}"> 
                                </div>
                                <br> </br>
                                <label  class="col-md-3 " >ЦВ текст:  </label>
                                <div class="col-md-9" >
                                    <input type="text"   class="col-md-9"  name="indikatorCv" th:value="${posebanCilj.indikatorCv}"> 
                                </div>
                                <br> </br>

                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn btn-primary">Сачувај</button>
                                    <a th:href="@{/client/plan/{pageId}(pageId=${page.id})}" class="btn">Одустани</a>
                                </div> 
                            </div>         
                        </form>
                    </div>


                </div> 

            </div>




        </div>

        <th:block th:insert="fragments/footer :: footer-standard" />

        <th:block th:insert="fragments/scripts :: standard" />
        <script th:src="@{/js/matrix.js}"></script> 
    </body>
</html>