<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head> 
        <th:block th:include="fragments/head :: head" />
    </head>
    <body>

        <!-- Nav -->
        <th:block th:insert="fragments/navigation :: navigation-end-user"></th:block>

        <!-- Content -->
        <div class="px-content">

            <div class="page-header" >
                <h1>
                   <th:block th:insert="fragments/navigation :: nav-breadcrumbs-client(${client}, true)" />
                </h1>
            </div>

            <div th:replace="fragments/alert :: success (${successMessage})"></div>

            <div th:replace="fragments/alert :: error (${errorMessage})"></div>

            <div class="panel" >
                <div class="panel-heading">

                    <span class="panel-title" >Додај нови посебан циљ</span> 
                </div>

                <div class="panel-body data-panel-body">



                    <div class="panel-body">

                        <form th:action="@{/client/plan/{pageId}/saveNewPosebanCilj/{planId} (planId=${plan.id},pageId=${page.id})}"  method="post" class="form-horizontal" autocomplete="off">
                            <div class="form-group">
                                <label  class="col-md-3 " >Посебан циљ текст: </label>
                                <div class="col-md-9" >
                                    <input type="text"   class="col-md-9"  name="posebanCiljText" value="Посебан циљ текст ..."> 
                                </div>
                                <br> </br>
                                <label  class="col-md-3 " >Показатељ текст: </label>
                                <div class="col-md-9" >
                                    <input type="text"   class="col-md-9" name="indikator" value="Показатељ текст ..."> 
                                </div>
                                <br> </br>
                                <label  class="col-md-3 " >ПВ текст: </label>
                                <div class="col-md-9" >
                                    <input type="text"   class="col-md-9"  name="indikatorPv" value="Показатељ ПВ текст ..."> 
                                </div>
                                <br> </br>
                                <label  class="col-md-3 " >ЦВ текст: </label>
                                <div class="col-md-9" >
                                    <input type="text"   class="col-md-9"  name="indikatorCv" value="Показатељ ЦВ текст ..."> 
                                </div>
                                <br> </br>


                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn btn-primary">Сачувај</button>
                                    <a th:href="@{/client/plan/{pageId}(pageId=${page.id})}" class="btn">Одустани</a>
                                </div> 
                            </div> 
                        </form>
                    </div>


                </div> 

            </div>




        </div>

        <th:block th:insert="fragments/footer :: footer-standard" />

        <th:block th:insert="fragments/scripts :: standard" />
        <script th:src="@{/js/matrix.js}"></script> 
    </body>
</html>