<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <th:block th:include="fragments/head :: head" />
    </head>
    <body>

        <!-- Nav -->
        <th:block th:insert="fragments/navigation :: navigation-end-user"></th:block>

        <!-- Content -->
        <div class="px-content">

            <div class="page-header">
                <h1>
                    <th:block th:insert="fragments/navigation :: nav-breadcrumbs-client(${client}, true)" />
                </h1>
            </div>

            <div th:replace="fragments/alert :: success (${successMessage})"></div>

            <!-- Client details panel -->
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">Подаци о кориснику</span>
                </div>
                <div class="panel-body">
                    <div class="panel" >
                        <div class="panel-body">
                            <label   >Назив корисника: <span th:text="${client.name}"></span> </label>
                            <br><br/>

                                <th:block th:if="${client.getOpstina() != null}">
                                    <label >Локална самоуправа: <span th:text="${client.opstina.name}"></span> </label>
                                    <br><br/>

                                        <label   >Аутономна покрајина: <span  th:text="${client.opstina.provincija.name}"></span> </label>
                                        <br><br/>

                                            <label   >Управни округ: <span th:text="${client.opstina.distrikt.name}"></span> </label>
                                            <br><br/>

                                                <label   >Надлежности и делокруг: </label> 

                                                
                                                    <th:block th:each="task : ${client.opstina.tasks}">
                                                    <br><br/>  
                                                    <a sec:authorize="hasAnyAuthority('ADMIN','RIS','CLIENT')" th:href="@{/client/overview/editNadleznost/{Nadleznostid} (Nadleznostid=${task.id})}" class=" btn-xs btn-info btn-outline"><i class="fa fa-pencil fa-lg"></i></a>
                                                    <a sec:authorize="hasAnyAuthority('ADMIN','RIS','CLIENT')" th:href="@{/client/overview/newNadleznost}" class=" btn-xs btn-info btn-outline"><i class="fa fa-plus-square-o fa-lg"></i></a>
                                                    <a sec:authorize="hasAnyAuthority('ADMIN','RIS','CLIENT')" onclick="return confirm('Да ли сте сигурни да желите да обришете ставку из надлежности и делокруга?');"  th:href="@{/client/overview/deleteNadleznost/{Nadleznostid} (Nadleznostid=${task.id})}" class=" btn-xs btn-danger btn-outline " ><i class="fa fa-trash fa-lg"></i></a>
                                                    <span th:text="${task.name}"></span> 

                                                </th:block>
                                                <th:block th:if="${client.opstina.tasks.empty}">
                                                    <br><br/>
                                                    <a sec:authorize="hasAnyAuthority('ADMIN','RIS','CLIENT')" th:href="@{/client/overview/newNadleznost}" class=" btn-xs btn-info btn-outline"><i class="fa fa-plus-square-o fa-lg"></i></a>                                                    
                                                    <span>Листа је празна.</span> 
                                                </th:block>
                                                <br><br/>
                                                   <label  >Листа међународних докумената: </label>
                                                    <th:block th:each="internationalAgreements : ${client.opstina.internationalAgreements}">
                                                        <br><br/>
                                                        <a sec:authorize="hasAnyAuthority('ADMIN','RIS','CLIENT')" th:href="@{/client/overview/editIA/{IAid} (IAid=${internationalAgreements.id})}" class=" btn-xs btn-info btn-outline"><i class="fa fa-pencil fa-lg"></i></a>
                                                        <a sec:authorize="hasAnyAuthority('ADMIN','RIS','CLIENT')" th:href="@{/client/overview/newIA }" class=" btn-xs btn-info btn-outline"><i class="fa fa-plus-square-o fa-lg"></i></a>
                                                        <a sec:authorize="hasAnyAuthority('ADMIN','RIS','CLIENT')" onclick="return confirm('Да ли сте сигурни да желите да обришете ставку из листе међународних докумената?');"  th:href="@{/client/overview/deleteIA/{IAid} (IAid=${internationalAgreements.id})}" class=" btn-xs btn-danger btn-outline " ><i class="fa fa-trash fa-lg"></i></a>
                                                    <span  th:text="${internationalAgreements.name}"></span> 
                                                    </th:block>
                                                        <th:block th:if="${client.opstina.internationalAgreements.empty}">
                                                        <br><br/>
                                                        <a sec:authorize="hasAnyAuthority('ADMIN','RIS','CLIENT')" th:href="@{/client/overview/newIA }" class=" btn-xs btn-info btn-outline"><i class="fa fa-plus-square-o fa-lg"></i></a>                                                    
                                                        <span>Листа је празна.</span> 
                                                        </th:block>
                                                    <br><br/>

                                                       <label   >Листа јавних докумената: </label>
                                                        <th:block th:each="publicPolicyDocument : ${client.opstina.publicPolicyDocuments}">
                                                            <br><br/> 
                                                                <a sec:authorize="hasAnyAuthority('ADMIN','RIS','CLIENT')" th:href="@{/client/overview/editPPD/{PPDid} (PPDid=${publicPolicyDocument.id})}" class=" btn-xs btn-info btn-outline"><i class="fa fa-pencil fa-lg"></i></a>
                                                                <a sec:authorize="hasAnyAuthority('ADMIN','RIS','CLIENT')" th:href="@{/client/overview/newPPD}" class=" btn-xs btn-info btn-outline"><i class="fa fa-plus-square-o fa-lg"></i></a>
                                                                <a sec:authorize="hasAnyAuthority('ADMIN','RIS','CLIENT')" onclick="return confirm('Да ли сте сигурни да желите да обришете ставку из листе јавних докумената?');"  th:href="@{/client/overview/deletePPD/{PPDid} (PPDid=${publicPolicyDocument.id})}" class=" btn-xs btn-danger btn-outline " ><i class="fa fa-trash fa-lg"></i></a>
                                                                <span  th:text="${publicPolicyDocument.name}"></span> 
                                                        </th:block>
                                                        <th:block th:if="${client.opstina.publicPolicyDocuments.empty}">
                                                        <br><br/>
                                                        <a sec:authorize="hasAnyAuthority('ADMIN','RIS','CLIENT')" th:href="@{/client/overview/newPPD }" class=" btn-xs btn-info btn-outline"><i class="fa fa-plus-square-o fa-lg"></i></a>                                                    
                                                        <span>Листа је празна.</span> 
                                                        </th:block>

                                                        <br><br/>
                                                            </th:block>
                                                            </div>
                                                            </div>
                                                             <th:block th:with="photoUrl=@{/client/overview/photo/}" >
                <th:block th:insert="fragments/forms/photo :: view_photos_Client(${photoUrl})" />
            </th:block>

                                                            </div>
                                                            </div>
                                                            </div>

                                                            </div>
                                                            <th:block th:insert="fragments/footer :: footer-standard" />
                                                            <th:block th:insert="fragments/scripts :: standard" />
                                                            </body>
                                                            </html>