<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head> 
        <th:block th:include="fragments/head :: head" />
    </head>
    <body>

        <!-- Nav -->
        <th:block th:insert="fragments/navigation :: navigation-client"></th:block>

        <!-- Content -->
        <div class="px-content">

            <div class="page-header" >
                <h1>
                    <th:block th:insert="fragments/navigation :: nav-breadcrumbs-admin-client(${client}, true)" />
                </h1>
            </div>

            <div th:replace="fragments/alert :: success (${successMessage})"></div>

            <div th:replace="fragments/alert :: error (${errorMessage})"></div>

            <div class="panel" >
                <div class="panel-heading">

                    <span class="panel-title" th:text="${plan.planText}"></span> 
                </div>

                <div class="panel-body data-panel-body">



                    <div class="panel-body">

                        <form th:action="@{/admin/clients/{clientId}/plan/{pageId}/saveEditPlan (clientId=${client.id},pageId=${page.id})}"  method="post" class="form-horizontal" autocomplete="off">


                            <div class="form-group">
                                <label  class="col-md-3 " >План текст: </label>
                                <div class="col-md-9" >
                                    <input type="text"   class="col-md-9"  name="planText" th:value="${plan.planText}"> 
                                </div>
                                <br> </br>
                                <label  class="col-md-3 " >Период од: </label>
                                <div class="col-md-9" >   
                                    <input type="text"   class="col-md-9"  name="periodOd" th:value="${plan.periodOd}"> 
                                </div>
                                <br> </br> 
                                <label  class="col-md-3 " >Период до: </label>
                                <div class="col-md-9" >
                                    <input type="text"   class="col-md-9"  name="periodDo" th:value="${plan.periodDo}"> 
                                </div>
                                <br> </br>
                                <label  class="col-md-3 " >Општи циљ текст: </label>
                                <div class="col-md-9" > 
                                    <input type="text"   class="col-md-9"  name="opstiCilj" th:value="${plan.opstiCilj}"> 
                                </div>
                                <br> </br>
                                <label  class="col-md-3 " >Индикатор текст: </label>
                                <div class="col-md-9" >
                                    <input type="text"   class="col-md-9"  name="indikator" th:value="${plan.indikator}"> 
                                </div>
                                <br> </br>
                                <label  class="col-md-3 " >Индикатор ПВ текст: </label>
                                <div class="col-md-9" >
                                    <input type="text"   class="col-md-9"  name="indikatorPV" th:value="${plan.indikatorPv}"> 
                                </div>
                                <br> </br>
                                <label  class="col-md-3 " >Индикатор ЦВ текст: </label>
                                <div class="col-md-9" >
                                    <input type="text"   class="col-md-9"  name="indikatorCV" th:value="${plan.indikatorCv}"> 

                                </div>
                                <br> </br>
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn btn-primary">Сачувај измене</button>
                                    <a th:href="@{/admin/clients/{clientId}/plan/{pageId}(clientId=${client.id},pageId=${page.id})}" class="btn">Одустани</a>
                                </div> 
                            </div>                
                        </form>
                    </div>


                </div> 

            </div>




        </div>

        <th:block th:insert="fragments/footer :: footer-standard" />

        <th:block th:insert="fragments/scripts :: standard" />
        <script th:src="@{/js/matrix.js}"></script> 
    </body>
</html>