<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head> 
        <th:block th:include="fragments/head :: head" />
    </head>
    <body>

        <!-- Nav -->
        <th:block th:insert="fragments/navigation :: navigation-client"></th:block>

        <!-- Content -->
        <div class="px-content">

            <div class="page-header" >
                <h1>
                    <th:block th:insert="fragments/navigation :: nav-breadcrumbs-admin-client(${client}, true)" />
                </h1>
            </div>

            <div th:replace="fragments/alert :: success (${successMessage})"></div>

            <div th:replace="fragments/alert :: error (${errorMessage})"></div>

            <div class="panel" >
                <div class="panel-heading">

                    <span class="panel-title" th:text="${podRezultat.aktivnostiText}"></span> 
                </div>

                <div class="panel-body data-panel-body">



                    <div class="panel-body">

                        <form th:action="@{/admin/clients/{clientId}/plan/{pageId}/saveEditPodRezultat/{podRezultatId} (podRezultatId=${podRezultat.id},clientId=${client.id},pageId=${page.id})}"  method="post" class="form-horizontal" autocomplete="off">
                            <div class="form-group">
                                <label  class="col-md-3 " >Активност текст: </label>
                                <div class="col-md-9" >

                                    <input type="text"   class="col-md-9"  name="aktivnostiText" th:value="${podRezultat.aktivnostiText}"> 
                                </div>
                                <br> </br>
                                <label  class="col-md-3 " >Индикатори текст: </label>
                                <div class="col-md-9" >
                                    <input type="text"   class="col-md-9"  name="indikatoriText" th:value="${podRezultat.indikatoriText}"> 
                                </div>
                                <br> </br>
                                <label  class="col-md-3 " >Одговорна институција текст: </label>
                                <div class="col-md-9" >
                                    <input type="text"   class="col-md-9"  name="odgovornaInstitucijaText" th:value="${podRezultat.odgovornaInstitucijaText}"> 
                                </div>
                                <br> </br>
                                <label  class="col-md-3 " >Партнер институција/е текст: </label>
                                <div class="col-md-9" >
                                    <input type="text"   class="col-md-9"  name="partnerInstitucijaText" th:value="${podRezultat.partnerInstitucijaText}"> 
                                </div>
                                <br> </br>
                                <label  class="col-md-3 " >Период текст: </label>
                                <div class="col-md-9" >
                                    <input type="text"   class="col-md-9"  name="periodText" th:value="${podRezultat.periodText}"> 
                                </div>
                                <br> </br>
                                <label  class="col-md-3 " >Период комплетирано: </label>
                                <div class="col-md-9" >
                                    <input type="number"   class="col-md-9"  name="periodKompletiran" th:value="${podRezultat.periodKompletiran}"> 
                                </div>
                                <br> </br>
                                <label  class="col-md-3 " >Буџет ЈЛС текст: </label>
                                <div class="col-md-9" >
                                    <input type="text"   class="col-md-9"  name="budzetJlsText" th:value="${podRezultat.budzetJlsText}"> 
                                </div>
                                <br> </br>
                                <label  class="col-md-3 " >Буџет остали извори текст: </label>
                                <div class="col-md-9" >
                                    <input type="text"   class="col-md-9"  name="budzetOstaloText" th:value="${podRezultat.budzetOstaloText}"> 
                                </div>
                                <br> </br>
                                <label  class="col-md-3 " >Буџет необезбеђени ресурси текст: </label>
                                <div class="col-md-9" >
                                    <input type="text"   class="col-md-9"  name="budzetNeobezbedjenoText" th:value="${podRezultat.budzetNeobezbedjenoText}"> 
                                </div>
                                <br> </br>

                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn btn-primary">Сачувај измене</button>
                                    <a th:href="@{/admin/clients/{clientId}/plan/{pageId}(clientId=${client.id},pageId=${page.id})}" class="btn">Одустани</a>
                                </div> 
                            </div> 
                        </form>
                    </div>


                </div> 

            </div>




        </div>

        <th:block th:insert="fragments/footer :: footer-standard" />

        <th:block th:insert="fragments/scripts :: standard" />
        <script th:src="@{/js/matrix.js}"></script> 
    </body>
</html>