<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <th:block th:include="fragments/head :: head" />
    </head>
    <body>

        <!-- Nav -->
        <th:block th:insert="fragments/navigation :: navigation-client" />

        <!-- Content -->
        <div class="px-content">

            <div class="page-header">
                <h1>
                    <th:block th:insert="fragments/navigation :: nav-breadcrumbs-admin-client-table-custom(${client}, ${tableDefinition}, ${customTableDefinition})" />
                </h1>
            </div>

            <div th:replace="fragments/alert :: success (${successMessage})"></div>

            <div th:replace="fragments/alert :: error (${errorMessage})"></div>

            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title" th:text="${tableDefinition.title + ' ' + customTableDefinition.title}"></span>
                </div>
                <div class="panel-body data-panel-body">

                    <th:block th:with="viewUrl=@{/admin/clients/{clientId}/{pageId}/{tableDefinitionId}/{customTableDefinitionId}(clientId=${client.id},pageId=${page.id},tableDefinitionId=${tableDefinition.id},customTableDefinitionId=${customTableDefinition.id})}">
                        <th:block th:insert="fragments/forms/data :: data_view(${viewUrl})" />
                    </th:block>

                </div>
            </div>


            <a name="new-row"></a>
            <div class="panel" sec:authorize="hasAnyAuthority('ADMIN','RIS')">
                <div class="panel-heading">
                    <span class="panel-title">Нови ред</span>
                </div>
                <div class="panel-body">

                    <th:block th:with="actionUrl=@{/admin/clients/{clientId}/{pageId}/{tableDefinitionId}/{customTableDefinitionId}(clientId=${client.id},pageId=${page.id},tableDefinitionId=${tableDefinition.id},customTableDefinitionId=${customTableDefinition.id})}">
                        <th:block th:insert="fragments/forms/data :: data_insert(${actionUrl})" />
                    </th:block>

                </div>
            </div>

            <th:block th:if="${newGroup.data.size() > 0}" sec:authorize="hasAnyAuthority('ADMIN','RIS')">
                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title">Нова група</span>
                    </div>
                    <div class="panel-body">

                        <th:block th:with="actionUrl=@{/admin/clients/{clientId}/{pageId}/{tableDefinitionId}/{customTableDefinitionId}/group(clientId=${client.id},pageId=${page.id},tableDefinitionId=${dynamicTable.tableDefinition.id},customTableDefinitionId=${customTableDefinition.id})}">
                            <th:block th:insert="fragments/forms/data :: group_insert(${actionUrl})" />
                        </th:block>

                    </div>
                </div>
            </th:block>

            <th:block th:if="${tableDefinition.hasDynamicColumns()}" sec:authorize="hasAnyAuthority('ADMIN','RIS')">
                <th:block th:each="dynamicColumn : ${tableDefinition.getDynamicColumns()}">
                    <div class="panel">
                        <div class="panel-heading">
                            <span class="panel-title">Нова колона - <th:block th:text="${dynamicColumn.title}"></th:block></span>
                        </div>
                        <div class="panel-body">

                            <th:block th:with="actionUrl=@{/admin/clients/{clientId}/{pageId}/{tableDefinitionId}/{customTableDefinitionId}/column/{columnId}(clientId=${client.id},pageId=${page.id},tableDefinitionId=${dynamicTable.tableDefinition.id},customTableDefinitionId=${customTableDefinition.id},columnId=${dynamicColumn.id})}">
                                <th:block th:insert="fragments/forms/data :: column_insert(${actionUrl},${dynamicColumn})" />
                            </th:block>

                        </div>
                    </div>
                </th:block>
            </th:block>

            <div class="panel" sec:authorize="hasAnyAuthority('ADMIN','RIS')">
                <div class="panel-heading">
                    <span class="panel-title">Напомена</span>
                </div>
                <div class="panel-body">

                    <th:block th:with="actionUrl=@{/admin/clients/{clientId}/{pageId}/{tableDefinitionId}/{customTableDefinitionId}/description(clientId=${client.id},pageId=${page.id},tableDefinitionId=${tableDefinition.id},customTableDefinitionId=${customTableDefinition.id})}">
                        <th:block th:insert="fragments/forms/data :: description_update(${actionUrl})" />
                    </th:block>

                </div>
            </div>


        </div>

        <th:block th:insert="fragments/footer :: footer-standard" />

        <th:block th:insert="fragments/scripts :: standard" />

        <script th:src="@{/js/table-row-delete-popover.js}"></script>

    </body>
</html>