<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <th:block th:include="fragments/head :: head" />
    </head>
    <body class="dashboard">
        <th:block th:insert="fragments/navigation :: navigation-end-user"></th:block>

        <!-- Content -->
        <div class="px-content contentmali">

            <div th:replace="fragments/page :: title (icon='fa fa-area-chart', title='Обавештења')"></div>



            <!--
                    <th:block th:insert="fragments/page :: contact" />
            -->
               
            <p  sec:authorize="hasAnyAuthority('ADMIN','RIS')">
                  <br></br>
                 Корисничко упутство за рад у СИВУС апликацији можете преузети <a href="https://siuvs.rs/img/Uputstvo_klijent.pdf">ОВДЕ.</a>
               </p>  
        <th:block th:insert="fragments/investitori :: investors" />
</div>

        <th:block th:insert="fragments/footer :: footer-standard" />

        <th:block th:insert="fragments/scripts :: standard" />
    </body>
</html>