<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="fragments/head :: head" />
</head>
<body class="dashboard">
    <th:block th:insert="fragments/navigation :: navigation-end-user"></th:block>

    <!-- Content -->
    <div class="px-content">

        <div th:replace="fragments/page :: title (icon='fa fa-area-chart', title='Обавештења')"></div>

        <div class="panel">
            <div class="panel-title" style="text-align: center; font-size: 3em;">DRIS</div>
            <div class="panel-body">
                <p style="text-align: center; font-size: 2em;">Disaster Risk Identification System</p>
                <p style="text-align: center; font-size: 1.2em;">Развојно иновациони систем д.о.о. - СИУВС 1.0</p>
            </div>
        </div>

        <th:block th:insert="fragments/page :: contact" />

    </div>


    <th:block th:insert="fragments/footer :: footer-standard" />

    <th:block th:insert="fragments/scripts :: standard" />
</body>
</html>