<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head> 
        <th:block th:include="fragments/head :: head" />
    </head>
    <body>

        <!-- Nav -->
        <th:block th:insert="fragments/navigation :: navigation-client"></th:block>

        <!-- Content -->
        <div class="px-content">

            <div class="page-header" >
                <h1>
                    <th:block th:insert="fragments/navigation :: nav-breadcrumbs-Kartoni-MTS" />
                </h1>
            </div>

            <div th:replace="fragments/alert :: success (${successMessage})"></div>

            <div th:replace="fragments/alert :: error (${errorMessage})"></div>

            <div class="panel panel-custom-width" >
                <div class="panel-heading">

                    <span class="panel-title" >Картон Материјално техничког средства</span> 
                </div>

                <div class="karton">
                    <div class="table-responsive">
                        <form th:action="@{/admin/clients/{clientID}/kartonMTS/dodajVlasnika (clientID=${client.id})}"  method="post" class="form-horizontal" autocomplete="off">
                            <table class="table table-striped valign-middle">

                                <tbody>

                                    <tr  >
                                        <td   class="pl-custom highlighted-row-custom custom-td-width-left">Власник (правно лице):</td> 
                                        <td  > <input type="text" name="vlasnik_naziv" ></td> 
                                    </tr>

                                    <tr  >
                                        <td   class="pl-custom highlighted-row-custom">Адреса:</td> 
                                        <td  > <input type="text" name="adresa" ></td> 
                                    </tr>

                                    <tr  >
                                        <td   class="pl-custom highlighted-row-custom">Град / Општина:</td> 
                                        <td  > <input type="text" name="gradOpstina" ></td> 
                                    </tr>

                                    <tr  >
                                        <td   class="pl-custom highlighted-row-custom">Управни округ:</td> 
                                        <td  > <input type="text" name="upravni_okrug" ></td> 
                                    </tr>

                                    <tr  >
                                        <td   class="pl-custom highlighted-row-custom">Телефон:</td> 
                                        <td  > <input type="text" name="telefon" ></td> 
                                    </tr>


                                    <tr  >
                                        <td   class="pl-custom highlighted-row-custom">Е-маил адреса:</td> 
                                        <td  > <input type="text" name="email" ></td> 
                                    </tr>


                                    <tr  >
                                        <td   class="pl-custom highlighted-row-custom">Име и презиме одговорног лица:</td> 
                                        <td  > <input type="text" name="odgovorno_lice" ></td> 
                                    </tr>


                                    <tr  >
                                        <td   class="pl-custom highlighted-row-custom">Фиксни телефон одговорног лица:</td> 
                                        <td  > <input type="text" name="fiksni_tel_odg_lica" ></td> 
                                    </tr>

                                    <tr  >
                                        <td   class="pl-custom highlighted-row-custom">Мобилни телефон одговорног лица:</td> 
                                        <td  > <input type="text" name="mobilni_tel_odg_lica" ></td> 
                                    </tr>

                                    <tr  >
                                        <td   class="pl-custom highlighted-row-custom">Е-маил адреса одговорног лица:</td> 
                                        <td  > <input type="text" name="email_odg_lica" ></td> 
                                    </tr>



                                </tbody>
                            </table>
                            <div class="col-md-offset-3  bottomTwoButtons">
                                <button type="submit" value="save" class="btn btn-primary">Сачувај</button>
                                <a th:href="@{/admin/clients/{clientID}/kartonMTS/{kartonId} (clientID=${client.id},kartonId=${kartonId})}"  class="btn">Одустани</a>
                            </div> 
                        </form>

                    </div> 
                </div>
            </div>


        </div> 






        <th:block th:insert="fragments/footer :: footer-standard" />

        <th:block th:insert="fragments/scripts :: standard" />
        <script th:src="@{/js/matrix.js}"></script> 
    </body>
</html>