<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<th:block th:include="fragments/head :: head" />
</head>
<body>

<!-- Nav -->
<th:block th:insert="fragments/navigation :: navigation-end-user"></th:block>

<!-- Content -->
<div class="px-content">

<div class="page-header">
<h1>
<th:block th:insert="fragments/navigation :: nav-breadcrumbs-Kartoni-clanstaba" />
</h1>
</div>

<div th:replace="fragments/alert :: success (${successMessage})"></div>

<!-- Client details panel -->

<div class="panel">
<div class="panel-heading">
<span class="panel-title">Листа евиденционих картона чланова штаба за ванредне ситуације  </span>
</div>
   
<th:block th:if="${stab != null}" >
<div class="table-responsive">
<table class="table table-striped valign-middle">
<thead>
<tr>
<!--                                <th>#</th>-->
<th class=" col-md-1">Редни број</th>
<th class=" col-md-1">Назив члана</th>
<th class=" col-md-1">Функција у штабу</th>
<th class=" col-md-1">Службени мобилни</th>




</tr>
</thead>

<tbody>
<th:block th:each="osobaStab, iStab : ${stab.osobe}">
<tr th:attr="data-href=@{/client/kartonClanaStaba/{osobaStabId} (osobaStabId=${osobaStab.id})}" >
<td> <span th:text="${iStab.count}"></span></td> 
<td> <span th:text="${osobaStab.osoba.ime}"></span></td> 
<td> <span th:text="${osobaStab.funkcija}"></span></td> 
<td> <span th:text="${osobaStab.osoba.mobilniposao}"></span></td> 
</tr>
</th:block>
<tr>
<td sec:authorize="hasAnyAuthority( 'CLIENT')" >
<a th:href="@{/client/kartonClanaStaba/newKarton  }" class=" btn-xs btn-warning btn-outline"><i class="fa fa-plus-square-o fa-lg"></i> Додај члана штаба</a>
</td>
</tr>
</tbody>

</table>

</div>
        </th:block>

</div>
<th:block th:if="${stab == null}" >
        <a th:href="@{/client/newStab  }"  class="btn btn-primary"><i class="fa fa-plus-square-o fa-lg"></i> Додај детаље штаба</a>
       
</th:block>
<th:block th:if="${stab != null}" >
        <a th:href="@{/client/editStab  }"  class="btn btn-primary"><i class="fa fa-pencil-square-o fa-lg"></i> Измени детаље штаба</a>
      <a sec:authorize="hasAnyAuthority( 'CLIENT')" class="btn btn-primary" th:href="@{/client/kartonClanaStaba/newKarton  }">Додај члана штаба</a> 
 
</th:block>
<br></br>





<div class="panel">
<div class="panel-heading">
<span class="panel-title">Листа стручно оперативних тимова  </span>
</div>
<div class="table-responsive">
<table class="table table-striped valign-middle">
<thead>
<tr>
<!--                                <th>#</th>-->
<th class=" col-md-1">Редни број</th>
<th class=" col-md-1" >Назив стручно оперативног тима</th>
<th class=" col-md-1">Број чланова тима</th>




</tr>
</thead>

<tbody>
<th:block th:each="sot, iSot : ${sotovi}">
<tr th:attr="data-href=@{/client/pregledSOTA/{sotId} (clientID=${client.id},sotId=${sot.id})}" >
<td> <span th:text="${iSot.count}"></span></td> 
<td> <span th:text="${sot.naziv}"></span></td> 
<td> <span th:text="${sot.osobe.size()}"></span></td> 

</tr>
</th:block>
<tr>
<td sec:authorize="hasAnyAuthority( 'CLIENT')" >
<a th:href="@{/client/kartonClanaStaba/newSOT  }" class=" btn-xs btn-warning btn-outline"><i class="fa fa-plus-square-o fa-lg"></i> Додај стручно оперативни тим</a>
</td>
</tr>
</tbody>

</table>

</div>

</div>
<a sec:authorize="hasAnyAuthority( 'CLIENT')" class="btn btn-primary" th:href="@{/client/kartonClanaStaba/newSOT  }">Додај стручно оперативни тим</a>   
 <br></br> 
 
 
 
 
<th:block th:each="sot, iSot : ${sotovi}">
   

<div class="panel">
<div class="panel-heading">
<span class="panel-title">Листа евиденционих картона чланова стручно оперативног тима: <span th:text="${sot.naziv}"></span>  </span>
</div>
<div class="table-responsive">
<table class="table table-striped valign-middle">
<thead>
<tr>
<!--                                <th>#</th>-->
<th class=" col-md-1">Редни број</th>
<th class=" col-md-1" >Назив члана</th>
<th class=" col-md-1">Функција у стручно оперативном тиму</th>
<th class=" col-md-1">Службени мобилни</th>


</tr>
</thead>

<tbody>
<th:block th:each="osobaSOT, brojac : ${sot.osobe}">
<tr th:attr="data-href=@{/client/kartonClanaSOT/{osobaSOTId} (clientID=${client.id},osobaSOTId=${osobaSOT.id})}" >
<td> <span th:text="${brojac.count}"></span></td> 
<td> <span th:text="${osobaSOT.osoba.ime}"></span></td> 
<td> <span th:text="${osobaSOT.funkcija}"></span></td> 
<td> <span th:text="${osobaSOT.osoba.mobilniposao}"></span></td> 
</tr>
</th:block>
<tr>
<td sec:authorize="hasAnyAuthority( 'CLIENT')" >
<a th:href="@{/client/kartonClanaSOT/{sotId}/newKarton (clientID=${client.id},sotId=${sot.id})}" class=" btn-xs btn-warning btn-outline"><i class="fa fa-plus-square-o fa-lg"></i> Додај картон члана стручно оперативног тима</a>
</td>
</tr>
</tbody>

</table>

</div>

</div>
<a sec:authorize="hasAnyAuthority( 'CLIENT')" class="btn btn-primary" th:href="@{/client/kartonClanaSOT/{sotId}/newKarton (clientID=${client.id},sotId=${sot.id})}">Додај картон члана стручно оперативног тима</a>   
<br></br>
</th:block>

</div>

<th:block th:insert="fragments/footer :: footer-standard" />
<th:block th:insert="fragments/scripts :: standard" />
</body>
</html>