<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="fragments/head :: head" />
</head>
<body>

<th:block th:insert="fragments/navigation :: nav-admin-root" />

<!-- Content -->
<div class="px-content">

    <div th:replace="fragments/page :: subtitle (icon='fa fa-users', title='РИС', subtitle='Измена')"></div>

    <div th:replace="fragments/alert :: error (${errorMessage})"></div>

    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">Измена корисника</span>
        </div>
        <div class="panel-body">

            <th:block th:insert="fragments/forms/edit-user :: edit-userRIS (action=@{/admin/users/{userId}/edit(userId=${user.id})},backLink=@{/admin/users/{userId}(userId=${user.id})})"></th:block>

        </div>
    </div>

</div>

<th:block th:insert="fragments/footer :: footer-standard" />

<th:block th:insert="fragments/scripts :: standard" />
</body>
</html>