<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="fragments/head :: head" />
</head>
<body>

<th:block th:insert="fragments/navigation :: nav-admin-root" />

<!-- Content -->
<div class="px-content">

    <div class="page-header">
        <div class="box m-y-0 bg-transparent">
            <h1 class="box-cell col-md-7 col-lg-8 col-xl-9"><i class="page-header-icon fa fa-users"></i>РИС</h1>

            <!-- Spacer -->
            <hr class="visible-xs visible-sm">

            <div class="box-cell col-md-5 col-lg-4 col-xl-3">
                <form th:action="@{/admin/users/new}" method="get" class="form-horizontal" autocomplete="off">
                    <button type="submit" class="btn btn-primary pull-right">Нови корисник</button>
                </form>
            </div>
        </div>
    </div>

    <div th:replace="fragments/alert :: success (${successMessage})"></div>

    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">Списак корисника</span>
        </div>
        <div class="panel-body">


            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Име</th>
                    <th>Презиме</th>
                    <th>Имејл адреса</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user: ${users}" th:attr="data-href=@{/admin/users/{id}(id=${user.id})}">
                    <th scope="row" th:text="${user.id}"></th>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.email}"></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>

<th:block th:insert="fragments/footer :: footer-standard" />

<th:block th:insert="fragments/scripts :: standard" />
</body>
</html>