<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>СИУВС 1.0</title>
    </head>

    <body>

        <th:block th:fragment="investors">
            <div class="px-content">

            
            <div class="panel">
                               
                <div class="panel-body" style="color:#304251; max-width: 1600px">
                    <p style="text-align: center; font-size: 2em;">СИУВС <br>
                        Систем за интегрисано управљање ванредном ситуацијом и ризицима од катастрофа за јединице локалне самоуправе</p>
                    
                    <p style="text-align: center; font-size: 1.2em;">СИУВС је настао кроз Пројекат имплементације националног програма за управљање ризиком од елементарних непогода који је водила Канцеларија за управљање јавним улагањима Владе Републике Србије из донације Швајцарске конфедерације уз подршку Светске банке и Јапана
                     </p>
                  
                    <img th:src="@{/img/Vlada-Srbije-logo.jpg}" alt="" style='max-height: 100px'/>
                    <img th:src="@{/img/gfdrr-wb.png}" alt="" style='max-height: 100px'/>
                    <img th:src="@{/img/sdc-logo-png.png}" alt="" style='max-height: 100px'/>
                     <img th:src="@{/img/jpn-gov.png}" alt="" style='max-height: 100px'/>
                    <p style="text-align: center; font-size: 2em;">DRIS <br>
                    Disaster Risk Information System for towns and municipalities
                    </p>

 <p style="text-align: center; font-size: 1.2em;"> DRIS was developed through Project for implementation of National Disaster Risk Management Program managed by Public 
     Investment Management Office, the Government of the Republic of Serbia financed from Switzerland and Japan donation with the World Bank support
                    </p>
                     <img th:src="@{/img/Vlada-Srbije-logo.jpg}" alt="" style='max-height: 100px'/>
                    <img th:src="@{/img/gfdrr-wb.png}" alt="" style='max-height: 100px'/>
                    <img th:src="@{/img/sdc-logo-png.png}" alt="" style='max-height: 100px'/>
                     <img th:src="@{/img/jpn-gov.png}" alt="" style='max-height: 100px'/>
                </div>
              
            </div>

     
        </div>
        </th:block>



    </body>
</html>