<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>СИУВС 1.0</title>
    </head>

    <body>

        <th:block th:fragment="investors">
     
                               
                <div class="panel-body pozadina" style="color:#304251; max-width: 1000px">
                    <p class="maketextsmaller" ><b>СИУВС</b> <br>
                      <b>  Систем за интегрисано управљање ванредном ситуацијом и ризицима од катастрофа за јединице локалне самоуправе</b></p>
                    
                    <p class="maketextsmaller2">СИУВС је настао кроз пројекат имплементације Националног програма за управљање ризиком од елементарних непогода који је водила <b>Канцеларија за управљање јавним улагањима</b> Владе Републике Србије из донације <b>Швајцарске конфедерације</b> и <b>Јапана</b> уз подршку <b>Светске банке</b>.
                     </p>
                     <p class="maketextsmaller"><b>DRIS </b><br>
                             <b>Disaster Risk Information System for towns and municipalities</b>
                    </p>
                  <p class="maketextsmaller2"> DRIS was developed through Project for implementation of National Disaster Risk Management Program managed by <b>Public 
     Investment Management Office</b>, the Government of the Republic of Serbia financed from <b>Switzerland</b> and <b>Japan</b> donation with the <b>World Bank</b> support.
                    </p>    </div>
                    <img class="dontshow" th:src="@{/img/Vlada-Srbije-logo.jpg}" alt="" style='max-height: 100px'/>
                    <img class="dontshow" th:src="@{/img/gfdrr-wb.png}" alt="" style='max-height: 100px'/>
                    <img class="dontshow" th:src="@{/img/sdc-logo-png.png}" alt="" style='max-height: 100px'/>
                     <img class="dontshow" th:src="@{/img/jpn-gov.png}" alt="" style='max-height: 100px'/>
                   

 
                    
            
              
   
        </th:block>



    </body>
</html>