body > div.px-content {
    padding-bottom: 60px;
}
/********************************************
* Assesment
*********************************************/
p.assessment-text-label {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

/********************************************
* Assesment Matrix
*********************************************/
table.assessment-matrix {
    border-collapse: collapse;
    margin-bottom: 1em;
}

table.assessment-matrix td {
    width: 52px;
    height: 52px;
    border: 1px solid black;
}

table.assessment-matrix th.head-left {
    text-align: right;
    padding-right: 5px;
}

table.assessment-matrix th.head-left-vertical {
    position: relative;
    width: 25px;
    border-left: 1px solid black;
}

table.assessment-matrix th.head-left-vertical > div {
    text-align: center;
    transform: rotate(270deg);
    position: absolute;
    left: -25px;
}

table.assessment-matrix th.head-bottom {
    height: 140px;
    white-space: nowrap;
    position: relative;
}

table.assessment-matrix th.head-bottom > div {
    transform: rotate(270deg);
    width: 120px;
    text-align: right;
    position: absolute;
    bottom: 60px;
    right: -35px;
}

table.assessment-matrix th.head-bottom-horizontal {
    text-align: center;
    height: 25px;
    border-bottom: 1px solid black;
}

/********************************************
* Risk text
*********************************************/
#risk_level {
    font-weight: bold;
}

#risk_adequacy {
    font-weight: bold;
}

/********************************************
* Shared
*********************************************/
.align-middle {
    vertical-align: middle !important;
}

/********************************************
* Data table
*********************************************/
.data-header-actions-row {
    width: 70px;
}
.data-header-action-block {
    float: left;
}
.data-panel-body {
    overflow: auto;
}
/********************************************
* Search bar
*********************************************/
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.PDFButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  font-size: 14px;
    position: absolute;
  top: 15%;
  left: 70%;
}
.PNGButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  font-size: 14px;
    position: absolute;
  top: 15%;
  left: 75%;
}

/*
no after for PDF generation support
*/


