<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="fragments/head :: head" />
</head>
<body>

<th:block th:insert="fragments/navigation :: nav-admin-root" />

<!-- Content -->
<div class="px-content">

    <div class="page-header">
        <h1>
            <th:block th:insert="fragments/navigation :: nav-breadcrumbs-admin-client-edit(${editClient})" />
        </h1>
    </div>

    <div th:replace="fragments/alert :: error (${errorMessage})"></div>

    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">Подаци о клијенту</span>
        </div>
        <div class="panel-body">

            <form th:action="@{/admin/clients/{id}/edit(id=${editClient.id})}"  method="post" class="form-horizontal" autocomplete="off">
                <div class="form-group">
                    <label class="col-md-3 control-label required">Назив јединице локалне самоуправе:</label>
                    
                        <input class="col-md-9 " type="text" th:value="${editClient.name}" name="name" >
                            <br><br/>
                   
                     <label class="col-md-3 control-label required">Локална самоуправа:</label>
                  
                         <select class="col-md-9 " th:value="${editClient.opstina}" name="opstinaId"    >
                                    <option  th:each="eopstina : ${opstine}" th:selected="${eopstina.id==editClient.opstina.id}" th:value="${eopstina.id}" th:text="${eopstina.name}">Текст</option>

                                </select>
                     <br><br/>
                   <label class="col-md-3 control-label required">Аутономна покрајина:</label>
                  
                         <select class="col-md-9 " th:value="${editClient.opstina.provincija}" name="provincijaId"    >
                                    <option  th:each="eprovincija : ${provincije}" th:selected="${eprovincija.id==editClient.opstina.provincija.id}" th:value="${eprovincija.id}" th:text="${eprovincija.name}">Текст</option>

                                </select>
                   <br><br/>
                   <label class="col-md-3 control-label required">Управни округ: </label>
                   <select class="col-md-9 " th:value="${editClient.opstina.distrikt}" name="distriktId"    >
                                    <option  th:each="edistrikt : ${districts}" th:selected="${edistrikt.id==editClient.opstina.distrikt.id}"th:value="${edistrikt.id}" th:text="${edistrikt.name}">Текст</option>

                                </select>
                    <br><br/>
                    <label class="col-md-3 control-label required">Активан</label>
                   
                        <input class="col-md-9 form-control" type="checkbox"  name="aktivan" th:checked="${editClient.isActive()}">
                        
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn btn-primary">Сачувај</button>
                        <a th:href="@{/admin/clients/{id}(id=${editClient.id})}" class="btn">Одустани</a>
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>

<th:block th:insert="fragments/footer :: footer-standard" />

<th:block th:insert="fragments/scripts :: standard" />
</body>
</html>