<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <th:block th:include="fragments/head :: head" />
    </head>
    <body class="dashboard">
        <!-- Content -->
        <th:block th:insert="fragments/navigation :: navigation-end-user" />
        <!-- Content -->
        <!-- Content -->
        <div class="px-content contentmali">
            <!-- Content -->
            <div th:replace="fragments/page :: title (icon='fa fa-area-chart', title='Слање нотификације')"></div>
            <!-- Content -->

            <div class="panel" >
               

                <div class="panel-body data-panel-body">
                    <div th:replace="fragments/alert :: success (${successMessage})"></div>

                    <div th:replace="fragments/alert :: error (${errorMessage})"></div>


                    <div class="panel-body">

                        <form th:action="@{/client/mobileapp/slanje/posalji}"  method="post" class="form-horizontal" autocomplete="off">
                            <div class="form-group col-md-12">

                                
                                <div class="col-md-12" >
                                    <label  class="col-md-3 " >Наслов нотификације: </label>
                                    <input type="text"   class="col-md-9"  name="titleText" > 
                                </div>
                                <br> </br>

                                <div class="col-md-12" >
                                    <label  class="col-md-3 " >Кратак описни текст: </label>                              
                                    <input type="text"   class="col-md-9"  name="bodyText" > 
                                </div>
                                <br> </br>

                                <div class="col-md-12" >
                                    <label  class="col-md-3 " >Дужи текст: </label>

                                    <textarea rows="5" class="col-md-9" name="messageText"></textarea>
                                    <!--  <input type="text"   class="col-md-9"  name="messageText" > -->
                                </div>
                                <br> </br>
 <br> </br> <br> </br> <br> 
                                <div class="col-md-12" >
                                    <label  class="col-md-3 " >Слика уз нотификацију (веб линк): </label>
                                    <input type="text"   class="col-md-9"  name="imageText" > 
                                </div>

                                <br> </br>

                                <div class="col-md-12" >
                                    <label  class="col-md-3 " >Веб линк уз нотификацију (адреса на коју линк шаље када се кликне) *: </label>
                                    <input type="text"   class="col-md-9"  name="linkText" > 
                                </div>
                                <br> </br>
                                <div class="col-md-12" >
                                    <label class="col-md-3"  >Текст веб линка (описни текст који ће корисник видети уместо адресе) **: </label>                         
                                    <input type="text"  class="col-md-9"  name="linkTextText" > 
                                </div>
                                <br> </br>

                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn btn-primary">Пошаљи</button>
                                    <a th:href="@{/client/mobileapp}" class="btn">Одустани</a>
                                </div> 
                            </div> 
                        </form>
                         <div class="col-md-12" >
                                 <br> </br>
                             <label   >* http://www.link.com/primer/ </label>    <br> </br>
                                    <label   >** Више информација можете видети на "овом линку" </label>
                              
                                </div>
                        

                    </div>


                </div> 

            </div>


        </div>

        <th:block th:insert="fragments/footer :: footer-standard" />

        <th:block th:insert="fragments/scripts :: standard" />
    </body>
</html>