<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>СИУВС 1.0</title>
    </head>

    <body>

        <th:block th:fragment="edit-user(action, backLink)" class="page-header">
            <form th:action="${action}" th:object="${user}" method="post" class="form-horizontal" autocomplete="off">
                <div class="form-group">
                    <label class="col-md-3 control-label required">Име</label>
                    <div th:class="${#fields.hasErrors('name')} ? 'col-md-9 has-error' : 'col-md-9'">
                        <input type="text" th:field="*{name}" placeholder="Име" class="form-control">
                            <small class="form-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label required">Презиме</label>
                    <div th:class="${#fields.hasErrors('lastName')} ? 'col-md-9 has-error' : 'col-md-9'">
                        <input type="text" th:field="*{lastName}" placeholder="Презиме" class="form-control">
                            <small class="form-message" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label required">Имејл адреса</label>
                    <div th:class="${#fields.hasErrors('email')} ? 'col-md-9 has-error' : 'col-md-9'">
                        <input type="text" th:field="*{email}" placeholder="Имејл адреса" class="form-control" autocomplete="new-password">
                            <small class="form-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                    </div>
                </div>
                <div class="form-group" th:if="${client != null}">
                    <label class="col-md-3 control-label required">Ниво приступа</label>
                    <div th:classappend="${roleErrorMessage} ? 'has-error' : ''" class="col-md-9">
                        <th:block th:with="chosenRole=*{getFirstRole().getRole().toString()}">
                            <select name="role" class="form-control">
                                <option value="UNSELECTED" th:selected="${chosenRole == 'UNSELECTED'}">Одабери</option>
                                <option value="CLIENT" th:selected="${chosenRole == 'CLIENT'}">Унос / измена</option>
                                <option value="CLIENT_READ_ONLY" th:selected="${chosenRole == 'CLIENT_READ_ONLY'}">Преглед</option>
                            </select>
                        </th:block>
                        <small class="form-message" th:text="${roleErrorMessage}"></small>
                    </div>
                </div>
                   <th:block th:if="${client == null}">
                <div class="form-group" th:if="${client == null}">
                    <label class="col-md-3 control-label required">Ниво приступа</label>
                    <div th:classappend="${roleErrorMessage} ? 'has-error' : ''" class="col-md-9">
                        <th:block th:with="chosenRole=*{getFirstRole().getRole().toString()}">
                            <select name="role" id="selectrole" onchange="resetElement(this.value)" class="form-control">
                                <option value="UNSELECTED" th:selected="${chosenRole == 'UNSELECTED'}">Одабери</option>
                                <option value="MUP" th:selected="${chosenRole == 'MUP'}">Mup</option>
                                <option value="DISTRIKT" th:selected="${chosenRole == 'DISTRIKT'}">Окружни супервизор</option>
                                <option value="PROVINCE" th:selected="${chosenRole == 'PROVINCE'}">Регионални супервизор</option>

                            </select>
                        </th:block>
                        <small class="form-message" th:text="${roleErrorMessage}"></small>
                    </div>
                </div>
                <th:block th:if="*{getSupervising() == null}"> 
                    <!-- select form if user  was NOT province supervisor-->
                    <div class="form-group"  id="selectprovincecontainer" >
                        <label class="col-md-3 control-label required">Супервизује</label>
                        <div th:classappend="${roleErrorMessage} ? 'has-error' : ''" class="col-md-9">

                            <select name="supervisingprovince" class="form-control">
                                <option value="0">Одабери регион</option>
                                <option th:each="provincija : ${provincije}" th:value="${provincija.id}" th:text="${provincija.name}"></option>
                            </select>

                            <small class="form-message" th:text="${roleErrorMessage}"></small>
                        </div>
                    </div>
                    <!-- select form if user  was NOT district supervisor-->
                    <div class="form-group"  id="selectdistriktcontainer" >
                        <label class="col-md-3 control-label required">Супервизује</label>
                        <div th:classappend="${roleErrorMessage} ? 'has-error' : ''" class="col-md-9">
                            <select name="supervisingdistrikt" class="form-control">
                                <option value="0">Одабери округ</option>
                                <option th:each="distrikt : ${distrikti}"  th:value="${distrikt.id}" th:text="${distrikt.name}"></option>                          
                            </select>  
                            <small class="form-message" th:text="${roleErrorMessage}"></small>
                        </div>
                    </div>
                </th:block>
                <th:block th:if="*{getSupervising() != null}"> 
                    <!-- select form if user already was district supervisor-->
                    <th:block th:if="*{getSupervising().getDistrikt() != null}"> 
                        <div class="form-group"  id="selectdistriktcontainer" >
                            <label class="col-md-3 control-label required">Супервизује</label>
                            <div th:classappend="${roleErrorMessage} ? 'has-error' : ''" class="col-md-9">
                                <th:block th:with="chosenId=*{getSupervising().getDistrikt().getId()}">
                                    <select name="supervisingdistrikt" class="form-control">
                                        <option value="0">Одабери округ</option>
                                        <option th:each="distrikt : ${distrikti}" th:selected="${chosenId == distrikt.id}" th:value="${distrikt.id}" th:text="${distrikt.name}"></option>                          
                                    </select>
                                </th:block>
                                <small class="form-message" th:text="${roleErrorMessage}"></small>
                            </div>
                        </div>

                        <div class="form-group"  id="selectprovincecontainer" >
                            <label class="col-md-3 control-label required">Супервизује</label>
                            <div th:classappend="${roleErrorMessage} ? 'has-error' : ''" class="col-md-9">

                                <select name="supervisingprovince" class="form-control">
                                    <option value="0">Одабери регион</option>
                                    <option th:each="provincija : ${provincije}" th:value="${provincija.id}" th:text="${provincija.name}"></option>
                                </select>

                                <small class="form-message" th:text="${roleErrorMessage}"></small>
                            </div>
                        </div>
                    </th:block>

                    <th:block th:if="*{getSupervising().getProvincija() != null}"> 
                        <!-- select form if user already was province supervisor-->
                        <div class="form-group"  id="selectprovincecontainer" >
                            <label class="col-md-3 control-label required">Супервизује</label>
                            <div th:classappend="${roleErrorMessage} ? 'has-error' : ''" class="col-md-9">
                                <th:block th:with="chosenId=*{getSupervising().getProvincija().getId()}">
                                    <select name="supervisingprovince" class="form-control">
                                        <option value="0">Одабери регион</option>
                                        <option th:each="provincija : ${provincije}" th:selected="${chosenId == provincija.id}" th:value="${provincija.id}" th:text="${provincija.name}"></option>
                                    </select>
                                </th:block>
                                <small class="form-message" th:text="${roleErrorMessage}"></small>
                            </div>
                        </div>
                        <!-- select form if user  was NOT district supervisor-->
                        <div class="form-group"  id="selectdistriktcontainer" >
                            <label class="col-md-3 control-label required">Супервизује</label>
                            <div th:classappend="${roleErrorMessage} ? 'has-error' : ''" class="col-md-9">
                                <select name="supervisingdistrikt" class="form-control">
                                    <option value="0">Одабери округ</option>
                                    <option th:each="distrikt : ${distrikti}"  th:value="${distrikt.id}" th:text="${distrikt.name}"></option>                          
                                </select>  
                                <small class="form-message" th:text="${roleErrorMessage}"></small>
                            </div>
                        </div>

                    </th:block> 
                </th:block>
                        </th:block>
                <div class="form-group">
                    <label class="col-md-3 control-label required">Активан</label>
                    <div th:class="${#fields.hasErrors('active')} ? 'col-md-9 has-error' : 'col-md-9'">
                        <input type="checkbox" th:field="*{active}" class="form-control">
                            <small class="form-message" th:if="${#fields.hasErrors('active')}" th:errors="*{active}"></small>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn btn-primary">Сачувај</button>
                        <a th:href="${backLink}" class="btn">Одустани</a>
                    </div>
                </div>
            </form>
        </th:block>
        <th:block th:fragment="edit-userRIS(action, backLink)" class="page-header">
            <form th:action="${action}" th:object="${user}" method="post" class="form-horizontal" autocomplete="off">
                <div class="form-group">
                    <label class="col-md-3 control-label required">Име</label>
                    <div th:class="${#fields.hasErrors('name')} ? 'col-md-9 has-error' : 'col-md-9'">
                        <input type="text" th:field="*{name}" placeholder="Име" class="form-control">
                            <small class="form-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label required">Презиме</label>
                    <div th:class="${#fields.hasErrors('lastName')} ? 'col-md-9 has-error' : 'col-md-9'">
                        <input type="text" th:field="*{lastName}" placeholder="Презиме" class="form-control">
                            <small class="form-message" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label required">Имејл адреса</label>
                    <div th:class="${#fields.hasErrors('email')} ? 'col-md-9 has-error' : 'col-md-9'">
                        <input type="text" th:field="*{email}" placeholder="Имејл адреса" class="form-control" autocomplete="new-password">
                            <small class="form-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-3 control-label required">Активан</label>
                    <div th:class="${#fields.hasErrors('active')} ? 'col-md-9 has-error' : 'col-md-9'">
                        <input type="checkbox" th:field="*{active}" class="form-control">
                            <small class="form-message" th:if="${#fields.hasErrors('active')}" th:errors="*{active}"></small>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn btn-primary">Сачувај</button>
                        <a th:href="${backLink}" class="btn">Одустани</a>
                    </div>
                </div>
            </form>
        </th:block>

    </body>
</html>



