<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head> 
        <th:block th:include="fragments/head :: head" />
    </head>
    <body>

        <!-- Nav -->
        <th:block th:insert="fragments/navigation :: navigation-client"></th:block>

        <!-- Content -->
        <div class=" px-content" >

            <div class="page-header" >
                <h1>
                    <th:block th:insert="fragments/navigation :: nav-breadcrumbs-admin-client(${client}, true)" />
                </h1>
            </div>

            <div th:replace="fragments/alert :: success (${successMessage})"></div>

            <div class="panel"  >
                <div class=" panel-body" >

                    <p class="assessment-text-label" ><span class="assessment-text-label-span-custom"> Појављивање</span></p>
                    <span class="thblock-text"><th:block  th:utext="${assessment.textPojavljivanje}" /></span>
                    <p class="assessment-text-label assessment-text-label-custom " ><span class="assessment-text-label-span-custom">Просторна димензија</span></p>
                    <span class="thblock-text"><th:block th:utext="${assessment.textProstornaDimenzija}" /></span>
                    <p class="assessment-text-label assessment-text-label-custom "><span class="assessment-text-label-span-custom">Интензитет</span></p>
                    <span class="thblock-text"><th:block th:utext="${assessment.textIntenzitet}" /></span>
                    <p class="assessment-text-label assessment-text-label-custom"><span class="assessment-text-label-span-custom">Време</span></p>
                    <span class="thblock-text"><th:block th:utext="${assessment.textVreme}" /></span>
                    <p class="assessment-text-label assessment-text-label-custom"><span class="assessment-text-label-span-custom">Ток</span></p>
                    <span class="thblock-text"><th:block th:utext="${assessment.textTok}" /></span>
                    <p class="assessment-text-label assessment-text-label-custom"><span class="assessment-text-label-span-custom">Трајање</span></p>
                    <span class="thblock-text"><th:block th:utext="${assessment.textTrajanje}" /></span>
                    <p class="assessment-text-label assessment-text-label-custom"><span class="assessment-text-label-span-custom">Рана најава</span></p>
                    <span class="thblock-text"><th:block th:utext="${assessment.textRanaNajava}" /></span>
                    <p class="assessment-text-label assessment-text-label-custom"><span class="assessment-text-label-span-custom">Припремљеност</span></p>
                    <span class="thblock-text"><th:block th:utext="${assessment.textPripremljenost}" /></span>
                    <p class="assessment-text-label assessment-text-label-custom"><span class="assessment-text-label-span-custom">Утицај</span></p>
                    <span class="thblock-text"><th:block th:utext="${assessment.textUticaj}" /></span>
                    <p class="assessment-text-label assessment-text-label-custom"><span class="assessment-text-label-span-custom">Генерисање других опасности</span></p>
                    <span class="thblock-text"><th:block th:utext="${assessment.textGenerisanjeDrugihOpasnosti}" /></span>
                    <p class="assessment-text-label assessment-text-label-custom"><span class="assessment-text-label-span-custom">Референтни инциденти</span></p>
                    <span class="thblock-text"><th:block th:utext="${assessment.textReferentniIncidenti}" /></span>
                    <p class="assessment-text-label assessment-text-label-custom"><span class="assessment-text-label-span-custom">Информисање јавности</span></p>
                    <span class="thblock-text"><th:block th:utext="${assessment.textInformisanjeJavnosti}" /></span>
                    <p class="assessment-text-label assessment-text-label-custom"><span class="assessment-text-label-span-custom">Будуће информације</span></p>
                    <span class="thblock-text"><th:block th:utext="${assessment.textBuduceInformacije}" /></span>

                    <form th:object="${assessment}" method="post" class="form-horizontal" autocomplete="off">
                        <input type="hidden" th:field="*{consequences}" />
                        <input type="hidden" th:field="*{probability}" />
                        <input type="hidden" name="risk_type_icon" th:value="${page.getRiskTypeIconRelativePath()}" />
                        <h1></h1>
                        <th:block th:insert="fragments/forms/matrix :: matrix(matrixId='assessment_preview')" />
                    </form>
                    <p>На основу анализе сценарија и процене ризика можемо констатовати да је ниво ризика од <span th:text="${vrsta_opasnosti}"></span> <span id="risk_level"></span>, што значи да је ризик <span id="risk_adequacy"></span>.</p>
                </div>
            </div>




            <th:block th:with="photoUrl=@{/admin/clients/{clientId}/photo/(clientId=${client.id})}" >
                <th:block th:insert="fragments/forms/photo :: view_photos(${photoUrl})" />
            </th:block>

            <form sec:authorize="hasAnyAuthority('ADMIN','RIS')" th:if="${page.attachablePhotos}" th:action="@{/admin/clients/{clientId}/assessment/{pageId}/edit(clientId=${client.id},pageId=${page.id})}" method="get" class="form-horizontal" autocomplete="off" style="margin-bottom: 20px;">
                <button type="submit" class="btn btn-primary">Измена</button>      
            </form>

        </div>

        <th:block th:insert="fragments/footer :: footer-standard" />

        <th:block th:insert="fragments/scripts :: standard" />
        <script th:src="@{/js/matrix.js}"></script>
    </body>
</html>