<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <th:block th:include="fragments/head :: head" />
    </head>
    <body>

        <!-- Nav -->
        <th:block th:insert="fragments/navigation :: navigation-client"></th:block>

        <!-- Content -->
        <div class="px-content">

            <div class="page-header">
                <h1>
                    <span class="text-muted font-weight-light">
                        <i class="page-header-icon fa fa-institution"></i>
                        <a th:href="@{/admin/clients}">Клијенти</a> /
                        <a th:href="@{/admin/clients/{id}(id=${client.id})}" th:text="${client.name}"></a> /
                        <a th:href="@{/admin/clients/{id}/users(id=${client.id})}">Корисници</a> /
                    </span>
                    Нови корисник
                </h1>
            </div>

            <div th:replace="fragments/alert :: error (${errorMessage})"></div>

            <!-- New client user form -->
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">Нови корисник</span>
                </div>
                <div class="panel-body">

                    <th:block th:insert="fragments/forms/new-user :: new-userCLI (action=@{/admin/clients/{id}/users/new(id=${client.id})},backLink=@{/admin/clients/{id}/users(id=${client.id})},client=true)"></th:block>

                </div>
            </div>

        </div>

        <th:block th:insert="fragments/footer :: footer-standard" />

        <th:block th:insert="fragments/scripts :: standard" />
    </body>
</html>