<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>Lista korisnika</title>
        <!--        <th:block th:include="fragments/head :: head" />-->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!--        <link th:href="@{/css/siuvs.css}" rel="stylesheet" type="text/css" />-->
        <!-- <th:block th:include="fragments/head :: head" />-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link th:href="@{/css/aleksandrinCss.css}" rel="stylesheet" type="text/css" />
 <link rel="preconnect" href="https://fonts.gstatic.com">

                    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>

    <body>

       <th:block th:insert="fragments/delici/aleksDelici :: navbar" />



        <div class="content ">

            <div class="content-client">
                <h3>Tabela - lista korisnika</h3>

                <table class="table table-borded">

                    <tr class="bg-secondary text-white">
                        <th >Email</th>
                        <th >Ime</th>
                        <th >Prezime</th>
                        <th >Password</th>
                    </tr>

                    <tr th:each="korisnik : ${listaKorisnika}">
                        <td th:text="${korisnik.email}">pera@example.com</td>
                        <td th:text="${korisnik.name}">Pera</td>
                        <td th:text="${korisnik.lastName}">Peric</td> 
                        <td th:text="${korisnik.password}">*</td>
                    </tr>

                </table>
                <!--
                            <br></br>
                
                            <div class="img-text">
                                <img  class="img-1" src="https://img.jakpost.net/c/2020/08/15/2020_08_15_102438_1597462959._large.jpg" alt="elephant-img"></img> 
                                <p class="p-lorem">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                            </div>-->


            </div>


            <!--
                    <footer id="thefooter">
                        <th:block th:fragment="copyright">Copyright 2021 © All rights reserved.</th:block>
                    </footer>-->

            <!--        <footer id="thefooter">
                        <p class="myf">©All rights reserved</p>
                    </footer> -->

            <!--                <div class="footer">This will always appear at the bottom of the page, but <strong>not fixed</strong>.</div>-->
     


        </div>


<th:block th:insert="fragments/delici/footer :: footerAleks" />


  <th:block th:insert="fragments/delici/scripts :: standard" />

    </body>

</html>