<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <th:block th:include="fragments/head :: head" />
    </head>
    <body>

        <!-- Nav -->
        <th:block th:insert="fragments/navigation :: navigation-client"></th:block>

        <!-- Content -->
        <div class="px-content">

            <div class="page-header">
                <h1>
                    <th:block th:insert="fragments/navigation :: nav-breadcrumbs-Kartoni-subjekti" />
                </h1>
            </div>

            <div th:replace="fragments/alert :: success (${successMessage})"></div>

            <!-- Client details panel -->

            <div class="panel panel-custom-width">
                <div class="panel-heading">
                    <span class="panel-title">Eвиденциони картон Субјекта  од посебног  значаја за заштиту и спасавање</span>
                </div>
                <div class="karton">
                    <div class="table-responsive">
                        <form th:action="@{/admin/clients/{clientID}/kartonSubjekti/newKarton (clientID=${client.id})}"  method="post" class="form-horizontal" autocomplete="off">  
                            <table class="table table-striped valign-middle">


                                <tbody>
                                    <tr class="table-custom-heighlight-section" > <td colspan="5" class="pl-custom">1. Општи подаци</td></tr>

                                    <tr  >
                                        <td colspan="2" class="pl-custom highlighted-row-custom">Матични број</td> 
                                        <td colspan="3">
                                            <input type="number" name="maticnibroj" /> 
                                        </td> 
                                    </tr>
                                    <tr  >
                                        <td colspan="2" class="pl-custom highlighted-row-custom"> ПИБ</td> 
                                        <td colspan="3"> <input type="number" name="pib" ></td> 
                                    </tr>
                                    <tr  >
                                        <td colspan="2" class="pl-custom highlighted-row-custom"> Пун назив</td> 
                                        <td colspan="3"> <input type="text" name="punnaziv" ></td> 
                                    </tr>
                                    <tr  >
                                        <td colspan="2" class="pl-custom highlighted-row-custom"> Скраћени назив</td> 
                                        <td colspan="3"> <input type="text" name="skraceninaziv" ></td> 
                                    </tr>
                                    <tr  >
                                        <td colspan="2" class="pl-custom highlighted-row-custom">Број текућег рачуна</td> 
                                        <td colspan="3"> <input type="text" name="brojtekucegracuna" ></td> 
                                    </tr>
                                    <tr  >
                                        <td colspan="2" class="pl-custom highlighted-row-custom"> Поштански број и назив општине</td> 
                                        <td colspan="3"> <input type="text" name="posta_ime_pb" ></td> 
                                    </tr>

                                    <!--                          adresa      -->
                                    <tr  >
                                        <td colspan="2" rowspan="2" class="pl-custom highlighted-row-custom" style="padding-top: 2.7rem;"> Адреса</td> 
                                        <td colspan="1" rowspan="2"> <input style="height: 67px;" type="text" name="adresa" ></td> 



                                        <td colspan="1" class="highlighted-row-custom"> Географска ширина</td> 
                                        <td colspan="1"> <input type="text" name="geosirina" ></td> 
                                    </tr>
                                    <tr>
                                        <td colspan="1" class="highlighted-row-custom"> Географска дужина</td> 
                                        <td colspan="1"> <input type="text" name="geoduzina" ></td> 
                                    </tr>



                                    <tr  >
                                        <td colspan="2" class="pl-custom highlighted-row-custom"> Број телефона са позивним бројем</td> 
                                        <td colspan="3"> <input type="text" name="tel" ></td> 
                                    </tr>
                                    <tr  >
                                        <td colspan="2" class="pl-custom highlighted-row-custom">Fax</td> 
                                        <td colspan="3"> <input type="text" name="fax" ></td> 
                                    </tr>
                                    <tr  >
                                        <td colspan="2" class="pl-custom highlighted-row-custom">E-mail</td> 
                                        <td colspan="3"> <input type="text" name="email" ></td> 
                                    </tr>
                                    <tr  >
                                        <td colspan="2" class="pl-custom highlighted-row-custom">Website</td> 
                                        <td colspan="3"> <input type="text" name="website" ></td> 
                                    </tr>


                                    <!--                 rukovodilac -->
                                    <tr>
                                        <td colspan="2" rowspan="3" class="pl-custom highlighted-row-custom" style="padding-top: 4.2rem;">Руководилац</td> 
                                        <td colspan="1" rowspan="2" class="text-center" style="padding-top: 2.5rem; background: rgba(0, 0, 0, .02);"> Име и презиме</td> 
                                        <td colspan="2" class="text-center" style="background: rgba(0, 0, 0, .02);"> Телефон</td> 
                                    </tr>
                                    <tr  >
                                        <td colspan="1" class="text-center" style="background: rgba(0, 0, 0, .02);"> Hа послу</td> 
                                        <td colspan="1" class="text-center" style="background: rgba(0, 0, 0, .02);"> Мобилни</td> 
                                    </tr>
                                    <tr>
                                        <td colspan="1" ><input type="text" name="rukovodilac_ime" ></td> 
                                        <td colspan="1" > <input type="text" name="rukovodilac_tel" ></td> 
                                        <td colspan="1" > <input type="text" name="rukovodilac_mob" ></td> 
                                    </tr>


                                    <tr>
                                        <td colspan="2" class="pl-custom highlighted-row-custom" >Шифра и назив делатности <a th:href="@{/admin/clients/{clientId}/kartonSubjekti/dodajDelatnost (clientId=${client.id})}"  class=" btn-xs btn-warning btn-outline"><i class="fa fa-plus-square-o fa-lg"></i></a></td> 
                                        <td colspan="3" ><a th:href="@{/admin/clients/{clientId}/kartonSubjekti/dodajDelatnost (clientId=${client.id})}"  class=" btn-xs btn-warning btn-outline"><i class="fa fa-plus-square-o fa-lg"></i></a>
                                            <select class="col-md-6 "  name="delatnost"  >
                                                <option  th:each="delatnost : ${listaDelatnosti}" th:value="${delatnost.id}" th:text="${delatnost.naziv}" >Текст</option>
                                            </select> 
                                        </td>
                                    </tr>


                                    <tr  >
                                        <td colspan="2" class="pl-custom highlighted-row-custom">Облик организовања</td> 
                                        <td colspan="3" > 
                                            <select class="col-md-6 "  name="oblik_organizovanja"  >
                                                <option  value="1.-друштвено" >1.-друштвено</option>
                                                <option  value="2.-приватно"  >2.-приватно</option>
                                                <option  value="3.-задружно"  >3.-задружно</option>
                                                <option  value="4.-мешовито"  >4.-мешовито</option>
                                                <option  value="5.-државно" >5.-државно</option>
                                            </select> 
                                        </td> 
                                    </tr>

                                    <tr>
                                        <td colspan="2" class="pl-custom highlighted-row-custom">Ниво одређивања за спровођење задатака заштите и спасавања</td> 
                                        <td colspan="3" > 
                                            <select class="col-md-6 "  name="nivo_odredjivanja"  >
                                                <option  value="1.-републички ниво"  >1.-републички ниво</option>
                                                <option  value="2.-управни округ"  >2.-управни округ</option>
                                                <option  value="3. аутономна покрајина" >3. аутономна покрајина</option>
                                                <option  value="4.-јединица локалне самоуправе"  >4.-јединица локалне самоуправе</option>
                                            </select> 
                                        </td> 
                                    </tr>

                                    <tr  >
                                        <td colspan="2" class="pl-custom highlighted-row-custom">Управни округ</td> 
                                        <td colspan="3" > <span th:text="${client.opstina.distrikt.name}?:'/'"></td> 
                                    </tr>


                                    <tr  >
                                        <td colspan="2" class="pl-custom highlighted-row-custom">Надлежна организациона јединица СВС која води евиденцију</td> 
                                        <td colspan="3" > <span th:text="${client.opstina.nadleznaSVS}?:'/'"></span></td> 
                                    </tr>



                                    <tr class="table-custom-heighlight-section" >
                                        <td colspan="5" class="pl-custom highlighted-row-custom">2. Подаци о запосленим кадровима (струке и занимања од значаја за заштиту и   спасавање)</td> 

                                    </tr>
                                    <tr  >
                                        <td colspan="5" class="pl-custom highlighted-row-custom">Кадрови се могу додати преко линка на прегледу картона или у следећем кораку</td> 

                                    </tr>

                                    </th:block>  




                                    <tr  class="table-custom-heighlight-section">
                                        <td colspan="5" class="pl-custom highlighted-row-custom">3. Лице за контакт</td> 

                                    </tr>
                                    <tr class="table-custom-subheighlight-section">
                                        <td class="pl-custom">Име и презиме</td> 
                                        <td>Адреса становања</td> 
                                        <td>Тел. на послу</td> 
                                        <td>Тел.у стану</td> 
                                        <td>Мобилни</td> 

                                    </tr>
                                    <tr  >
                                        <td class="pl-custom"><input type="text" name="kontakt_ime" ></td> 
                                        <td><input type="text" name="kontakt_adresa" ></td> 
                                        <td><input type="text" name="kontakt_telposao" ></td> 
                                        <td><input type="text" name="kontakt_telstan" ></td> 
                                        <td><input type="text" name="kontakt_mob" ></td> 

                                    </tr>


                                </tbody>
                            </table>

                            <div class="col-md-offset-3  bottomTwoButtons">
                                <button type="submit" name="action" value="save" class="btn btn-primary">Сачувај</button>
                                <button type="submit" name="action" value="saveMore" class="btn btn-primary">Сачувај и додај кадрове</button>
                                <a th:href="@{/admin/clients/{clientID}/kartonSubjekti (clientID=${client.id})}"  class="btn">Одустани</a>
                            </div> 
                        </form> 
                    </div>
                </div>       
            </div>



        </div>

        </div>
        <th:block th:insert="fragments/footer :: footer-standard" />
        <th:block th:insert="fragments/scripts :: standard" />
    </body>
</html>